<section class="wrapper-inside bg wrapper-press">
  <div class="container">
    <div class="row">
        <h2 class="title-primary">Flu Near You Press</h2>

        <!-- 2015 -->
        <div class="col-xs-12 col-sm-4 col-md-6 wrapper-press">
          <h3 class="year">2015</h3>

          <ul class="press-list">
            <li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li><li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li><li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li><li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li><li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li><li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li><li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li>
          </ul>
        </div>

        <!-- 2014 -->
        <div class="col-xs-12 col-sm-4 col-md-6 wrapper-press">
          <h3 class="year">2014</h3>

          <ul class="press-list">
            <li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li><li class="press-item" >
              <a ng-href="#" class="press-link" title="Title Here" target="_blank">
                <time datetime="24-02-2015">24 feb</time>

                <div class="press-info">
                  <h4 class="press-title">Apps That Help You Fight the Flu</h4>
                  <p class="press-forward">everydayhealth.com</p>
                </div>
              </a>

              <aside class="press-share">
                <a ng-href="#" title="Share with Facebook" class="facebook">Facebook</a>
                <a ng-href="#" title="Share with Twitter" class="twitter">Twitter</a>
              </aside>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <!-- join us -->
  <section class="wrapper-join-us m-top">
    <div ng-include src="'views/partials/join-us.html'"></div>
  </section>
</section>
