//
// Map & databox
//
.databox
  width: 292px
  margin-top: 20px
  background-color: #FFFFFF
  position: absolute
  top: 20px
  left: 10%
  z-index: 4
  padding: 10px 0 20px 0
  +bdr(3px)
  +bsd(0, 0, 8px, rgba(0, 0, 0, 0.3))

.legend-list
  padding: 0

.wrapper-databox-image
  width: 100%
  height: 150px
  position: relative
  background: rgb(109, 234, 17) url("../images/states/United-States.png") 50% 50% no-repeat 
  background-size: 50%!important

.mini-image
  position: absolute
  top: -10px
  left: 50%
  width: 67px
  height: 67px
  margin-left: -33px
  background-color: purple
  +bdr(100%)

.databox-image
  max-width: 100%
  height: 150px
  background-color: black
  // change here to background-color of each state
  img
    width: 100%
  figcaption
    position: absolute
    right: 0
    bottom: 0
    padding: 5px
    color: #FFFFFF
    font-size: $fs-normal -0.2
    background-color: rgba(0, 0, 0, 0.4)

%text-primary
  color: $link-menu
  font-size: $fs-normal + 0.2
  font-family: $ff-bold

.databox-title
  display: inline-block
  vertical-align: middle
  padding-left: 10px
  margin-bottom: 20px
  @extend %text-primary

.choose-country
  outline: none
  border: none
  margin: 0 0 10px 15px
  width: 46%
  background: transparent
  +apr(none)
  @extend %text-primary

.week-reports
  text-align: center
  color: $link-menu
  font-family: $ff-regular
  span, h3
    display: inline-block
    margin-top: 10px
    font-size: $fs-normal + 0.4
  span
    margin-right: 5px

.legend-item
  &.more-info
    color: #FFFFFF
    font-size: $fs-normal + 0.1
    text-align: left
    background-color: $btn-primary
    padding-top: 10px
    height: 0px
    opacity: 0
    margin-top: -10px
    +transition(all, 0.2s, linear, 0s)
    &.js-active
      height: auto
      opacity: 1
      margin-top: auto
  span
    height: 44px
    border: 1px solid $border-primary
    color: $link-menu
    position: relative

.legend-value
  font-family: $ff-bold
  text-align: right
  font-size: $fs-normal + 0.2
  padding: 13px 3px 0 0
  background-repeat: no-repeat
  background-position: 5px 15px
  &.js-red
    background-image: url("../images/icon-symptoms-1.png")
  &.js-yellow
    background-image: url("../images/icon-symptoms-3.png")
  &.js-blue
    background-image: url("../images/icon-symptoms-4.png")

.legend-description
  text-align: left
  padding: 4px 0 0 5px
  font-size: $fs-normal
  &.arrow
    background-position: 152px 11px
    background-repeat: no-repeat
    +transition(background, 0.2s, linear, 0s)
    &.js-up
      background-image: url("../images/arrow-up.png")
    &.js-down
      background-image: url("../images/arrow-down.png")

.flu-like-percent
  font-size: 12px
  border: none!important
  top: 22px
  left: 108px

.open-more-info
  cursor: pointer

.call-info
  h2
    color: $text-other
    font-size: $fs-medium + 0.4
    text-align: center
    span
      color: $link-menu
      font-size: $fs-medium + 0.2
      display: block
      font-family: $ff-bold
  ul
    padding: 0
  li
    @extend %li-pattern
    font-size: 2rem!important

.form-call-info
  width: 100%
  float: left
  text-align: center
  margin: 20px 0 40px 0
  .input-secondary
    width: 300px!important
    float: left
    background-color: #FFFFFF
  .btn-primary
    float: left
    margin-left: 10px 

.chosen-container-single .chosen-single
  position: relative
  display: block
  overflow: hidden
  padding: 0 0 0 8px
  height: 25px
  border: none
  border-radius: 5px
  background-color: transparent
  color: #3f6f92
  font: 1.4rem "OpenSansBold"
  font-weight: bold
  text-decoration: none
  white-space: nowrap
  line-height: 24px
  text-align: center
  outline: none

.chosen-container-single .chosen-single div b
  background: url('../images/chosen-sprite.png') no-repeat 0 2px


.fewer_greater
  width: 100%
  height: 0
  overflow: hidden
  float: left
  background-color: #D3303F
  p
    font-size: 13px
    font-weight: 500
    line-height: 17px
    padding: 10px 1px 0px 11px
    color: #fff
    span
      color: #fff
      border: none
.showFewerGreater
  height: auto










