// —————————————————————————
//     General
// —————————————————————————

::-moz-selection {
  background: $link-menu;
  color: $border-primary;
  text-shadow: none;
}

::selection {
  background: $link-menu;
  color: $border-primary;
  text-shadow: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html { height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: $fs-root;
  font-family: $ff-regular;
}

h4, label {
  border-bottom-color: transparent !important;
  text-decoration: none !important;
}

.nopadding { padding: 0; }
.no-margin { margin: 0; }

.main {
  display: block;
  position: relative;
}

.wrapper-inside {
  min-height: 800px;

  .title-primary {
    margin: 40px 0;
  }

  &.bg {
    background-color: darken($bg-figure, 2%);
  }

  .clean {
    background: #FFFFFF;
    @include bdr(5px);
  }

  .description {
    padding: 20px 25px;
    font-size: ($fs-normal)+.2;
  }
}

%li-pattern {
  color: $link-menu;
  font-size: ($fs-normal)+.2;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    @include bdr(100%);
    @include path('list-style-left-help.png');
  }
}

.fny-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 15px;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  @include bdr(2px);
  @include transition(opacity, .2s, linear, 0s);

  &:hover {
    opacity: .6;
  }

  &.report {
    background-color: #28a4c9;
    @include path('icon-report.svg');
  }

  &.check {
    background-color: #3e8f3e;
    @include path('icon-check.svg');
  }

  &.edit {
    background-color: #2B669A;
    @include path('icon-edit.svg');
  }

  &.deactivate {
    background-color: #C12E2A;
    @include path('icon-deactivate.svg');
  }
}

// ===



//
// Header
//

.header { background-color: $bg-nav !important; }

.navbar { margin-bottom: 0; }

button {
  &.navbar-toggle {
    background-color: $link-menu;

    &:hover,
    &:focus {
      background-color: $link-menu !important;
      border-color: $white-light;
    }

    .icon-bar {
      background-color: $white-light !important;
    }
  }
}

// mobile
.lets-go {
  background-color: $btn-primary;
  color: #FFFFFF !important;
}

.logo-secondary {
  margin-top: 10px;

  img { max-width: 100%; }
}

.nav {
  &.navbar-nav {
    text-align: center;

    li {
      a {
        color: $link-menu;
        font-size: ($fs-normal)+.3;
        font-family: $ff-bold;
        text-decoration: none;
        display: block;
        cursor: pointer;
        @include transition(background, .2s, linear, 0s);

        &:hover, &:focus, &.js-active {
          color: $link-menu !important;
          background-color: #FFFFFF;
        }
      }
    }
  }
}

// dropdown
.dropdown {
  button {
    border: none;
    background-color: transparent;
    font-family: $ff-regular;
    font-size: ($fs-normal)+.2;

    @include truncate();
    width: 175px;
  }

  li {
    a {
      color: $link-menu;
      font-size: ($fs-normal)+.3;
      font-family: $ff-bold;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }
  }
}

// ===



//
// Map & databox
//

.map {
  min-height: 530px;
  max-height: 800px;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  @include path('background-banner.png');
}

.map-assets { z-index: 2; }

.map-controls {
  display: none;

  // when show map, use this class
  &.js-active { display: inline-block; }
}

.map-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
  @include transition(z-index, .2s, ease-out, 0s);

  // when show map, use this class
  &.js-active { z-index: 1;  }
}

.databox {
  margin-top: 20px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 4;
  padding: 10px 0 20px 0;
  @include bdr(3px);
  @include bsd(0, 0, 8px, rgba(0,0,0,0.3));
}

.wrapper-databox-image { position: relative; }

.mini-image {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 67px;
  height: 67px;
  margin-left: -33px;
  background-color: purple;
  @include bdr(100%);
}

.databox-image {
  max-width: 100%;
  height: 150px;
  background-color: black; // change here to background-color of each state;

  img { width: 100%; }

  figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: ($fs-normal)-.2;
    background-color: rgba(0,0,0,0.4);
  }
}

%text-primary {
  color: $link-menu;
  font-size: ($fs-normal)+.2;
  font-family: $ff-bold;
}

.databox-title {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  margin-bottom: 20px;
  @extend %text-primary;
}

.choose-country {
  outline: none;
  border: none;
  margin: 0 0 10px 15px;
  width: 46%;
  background: transparent;
  @include apr(none);
  @extend %text-primary;
}

.week-reports {
  text-align: center;
  color: $link-menu;
  font-family: $ff-regular;

  span, h3 {
    display: inline-block;
    margin-top: 10px;
    font-size: ($fs-normal)+.4;
  }

  span {
    margin-right: 5px;
  }
}

.legend-item {

  &.more-info {
    color: #FFFFFF;
    font-size: ($fs-normal)+.1;
    text-align: left;
    background-color: $btn-primary;
    padding-top: 10px;
    height: 0px;
    opacity: 0;
    margin-top: -10px;
    @include transition(all, .2s, linear, 0s);

    &.js-active {
      height: auto;
      opacity: 1;
      margin-top: auto;
    }
  }

  span {
    height: 44px;
    border: 1px solid $border-primary;
    color: $link-menu;
    position: relative;
  }
}

.legend-value {
  font-family: $ff-bold;
  text-align: right;
  font-size: ($fs-normal)+.2;
  padding: 13px 3px 0 0;
  background-repeat: no-repeat;
  background-position: 5px 15px;

  &.js-red {
    @include path('icon-symptoms-1.png');
  }

  &.js-yellow {
    @include path('icon-symptoms-3.png');
  }

  &.js-blue {
    @include path('icon-symptoms-4.png');
  }
}

.legend-description {
  text-align: left;
  padding: 12px 0 0 10px;
  font-size: ($fs-normal);

  &.arrow {
    background-position: 95%;
    background-repeat: no-repeat;
    @include transition(background, .2s, linear, 0s);

    &.js-up {
      @include path('arrow-up.png');
    }

    &.js-down {
      @include path('arrow-down.png');
    }
  }
}

.open-more-info { cursor: pointer; }

.call-info {
  h2 {
    color: $text-other;
    font-size: ($fs-medium)+.4;
    text-align: center;

    span {
      color: $link-menu;
      font-size: ($fs-medium)+.2;
      display: block;
      font-family: $ff-bold;
    }
  }

  li {
    @extend %li-pattern;
  }
}

.form-call-info {
  text-align: center;

  .input-secondary { background-color: #FFFFFF; }

  .btn-primary { margin: 10px 0 20px 0; }
}

// ===



//
// Hide & show assets | only mobile
//

.hide-show {
  text-align: center;
  min-height: 60px;
  position: relative;
  border-top: 1px solid #FFFFFF;

  button {
    background-color: $link-menu;
    color: #FFFFFF;
    font-family: $ff-regular;
    outline: none;
    text-transform: uppercase;
    font-size: ($fs-normal)+.2;
    border: none;
    height: 100%;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-position: 10px 15px;
    @include apr(none);

    &:first-child {
      text-indent: 20px;
      border-right: 1px solid #FFFFFF;
      @include path('icon-view-stats.png');
    }

    &:last-child {
      text-indent: 40px;
      @include path('img-view-map-us.png');
    }

    &.js-active {
      background-color: $btn-primary;
    }
  }
}

// ===



//
// Title & buttons
//

.title-primary {
  color: $link-menu;
  font-family: $ff-light;
  text-align: center;
  margin: 20px 0;
  font-size: ($fs-medium);
  position: relative;
}


.btn {
  border: 2px solid $link-menu;
  color: $link-menu !important;
  font-family: $ff-bold;
  font-size: ($fs-normal)+.6;
  text-decoration: none;
  display: inline-block;
  position: relative;
  @include bdr(6px);
  @include transition(background, .2s, linear, 0s);

  &:hover { background-color: $bg-nav; }

  &.btn-read-news {
    display: block;
    margin: 20px auto;
  }
}

.link-to-read-more { text-align: center; }

// ===



//
// About
//

.wrapper-about-tabs {
  background-color: $bg-primary;
  margin-top: 20px;
  padding: 40px 0;
}

.tabs-nav {
  li {
    padding: 0;
  }

  a {
    color: #FFFFFF;
    font-family: $ff-bold;
    text-decoration: none;
    text-align: center;
    position: relative;
    line-height: 55px;
    outline: none;
    height: 55px;
    font-size: ($fs-normal)+.6;
    display: block;
    cursor: pointer;
    background-color: rgba(63, 111, 146, .3); // link-menu with alpha
    @include bdr(6px 6px 0 0);
    @include transition(all, .2s, linear, 0s);

    &.active {
      color: $link-menu;
      border: 2px solid $link-menu;
      background: transparent;

      &::after {
        content: '';
        width: 100%;
        height: 5px;
        background: darken($bg-figure, 2%);
        position: absolute;
        bottom: -3px;
        left: 0;
        z-index: 2;
      }
    }

    &:hover {
      color: $link-menu;
    }
  }
}

.tabs-container {
  border: 2px solid $link-menu;
  padding: 20px;
  top: -2px;

  .description {
    color: $link-menu;
    font-size: ($fs-normal)+.6;
    font-family: $ff-light;
    margin: 0 0 20px 0;
    text-align: center;
  }

  h4 {
    display: block;
    position: relative;
    font-family: $ff-light;
    font-size: ($fs-normal)*2;
    color: $btn-primary;
    margin: 20px 0;

    &.how-it-works {
      text-align: center;

      &::before {
        content: '';
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        @include bdr(100%);
        @include path('icon-help-banner-interna.png');
      }
    }

    &.who-we-are {
      color: $text-primary;
    }
  }

  h5 {
    color: $text-primary;
    font-size: ($fs-normal)*2;
  }

  li {
    @extend %li-pattern;
  }

  figure {
    text-align: center;
    margin-bottom: 10px;

    &.bg {
      background-color: $bg-figure;
    }

    img {
      display: block;
      margin: 0 auto;
      @include scale(.9);

      &.scale {
        margin-left: -15px;
        @include scale(.7);
      }
    }
  }

  figcaption {
    background-color: $blue-lighten;
    color: #FFFFFF;
    font-size: ($fs-normal)+.2;
    min-height: 80px;
    padding: 20px 10px;
  }

  p {
    color: $text-primary;
    font-size: ($fs-normal)+.2;
  }
}

.box-healthmap { margin-left: -40px; }

.box-skoll { margin-left: -30px; }

.box-boston { margin-left: -50px; }

// ===



//
// News
//

.news-item {
  height: auto;
  min-height: 450px;
  position: relative;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid $border-primary;
  @include bsd(0, 0, 0, transparent);
  @include transition(box-shadow, .2s, ease, 0s);

  &:hover {
    @include bsd(0, 0, 3px, $link-menu);
  }

  a {
    display: block;
    outline: none;
    border: none;
    text-decoration: none;
    position: relative;
  }

  figure {
    height: 180px;
    width: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  time {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    padding: ($fs-normal)-.2;
    top: 15px;
    left: 15px;
    padding: ($fs-normal)-.2;
    font-family: $ff-regular;
    font-size: $fs-large;
    text-align: center;

    span {
      font-size: ($fs-normal)+.6;
      font-family: $ff-light;
      display: block;
    }
  }
}

.news-text {
  min-height: 280px;
  position: relative;
  padding: 0 ($fs-normal)+.8;

  h3 {
    font-size: ($fs-normal)+.6;
  }

  a {
    color: $link-menu;
    text-decoration: none;
    display: block;
  }

  p {
    font-size: ($fs-normal)+.2;
    line-height: ($fs-normal)+.6;
    color: $text-other;
  }
}

.read-more {
  text-align: center;
  position: relative;
  bottom: 0;
  background: $link-menu;
  font-size: $fs-normal;
  font-family: $ff-bold;
  padding: $fs-normal 0;
  color: #FFFFFF;
  @include transition(all, .2s, linear, 0s);

  &:hover {
    background: $white-primary;
    color: $link-menu;
  }
}

.scoopit-logo { text-align: center; }

// ===



//
// Join Us
//

.wrapper-join-us {
  padding-bottom: 20px;
  background-repeat: repeat-x;
  @include path('background-blue.png');

  &.m-top { margin-top: 60px; }
}

.join-us {
  text-align: center;

  h3 {
    color: #FFFFFF;
    font-family: $ff-light;
    font-size: ($fs-normal)+.8;
  }
}

.btn-secondary {
  font-family: $ff-bold;
  color: $link-menu;
  outline: none;
  background: #FFFFFF;
  font-size: ($fs-medium)/2;
  text-transform: uppercase;
  border: 1px solid transparent;
  @include transition(all, .2s, linear, 0s);
  @include bdr(4px);
  @include apr(none);

  &:hover {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
}

// ===



//
// Complementary info
//

.complementary-info {
  .get-flu-shot,
  .public-health-near-you {
    margin-bottom: 30px;
  }

  .description {
    font-size: ($fs-normal)+.4;
    color: $text-secondary;
  }

  .title-primary {
    font-size: ($fs-medium)-.2;
  }

  .btn-primary {
    margin-top: 10px;
  }
}

.some-news {
  li { margin-bottom: 5px; }

  a {
    display: inline-block;
    color: $news-link;
    position: relative;
    text-decoration: none;
    font-size: ($fs-normal)+.4;

    &::before {
      content: '';
      position: relative;
      display: inline-block;
      margin-right: 10px;
      width: 8px;
      height: 8px;
      background-color: $btn-primary;
      background-repeat: no-repeat;
      @include bdr(100%);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

// ===



//
// Footer
//

.footer {
  min-height: 80px;
  padding: 10px 0;
  position: relative;
  background-color: $btn-primary;
}

.nav-secondary {
  text-align: center;

  ul {
    margin-bottom: 10px;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

  a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: ($fs-normal)+.4;

    &.strong { font-family: $ff-bold; }

    &.facebook {
      @include social('facebook');
    }

    &.twitter {
      @include social('twitter');
    }

    &.google-plus {
      @include social('google-plus');
    }
  }
}

// ===



//
// Privacy
//

.wrapper-privacy {
  padding-bottom: 40px;

  .description { padding: 20px 25px !important; }
}

// ===



//
// Press
//

.wrapper-press {
  .year {
    text-align: center;
    color: $link-menu;
    margin-bottom: 25px;
    font-size: ($fs-normal)*2;
  }
}

.press-item {
  min-height: 80px;
  margin-bottom: 20px;
  border-bottom: 1px solid darken($bg-primary, 7%);;
}

.press-link {
  text-decoration: none;
  display: inline-block;
  width: 78%;
  vertical-align: top;

  time {
    text-align: center;
    text-transform: uppercase;
    min-height: 65px;
    width: 50px;
    padding-top: 6px;
    display: inline-block;
    background-color: $link-menu;
    color: #FFFFFF;
    font-size: ($fs-normal)*2;
    @include transition(all, .2s, linear, 0s);
  }

  &:hover {
    text-decoration: none;

    time {
      background-color: #FFFFFF;
      color: $link-menu;
    }
  }
}

.press-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  width: 65%;

  h4 {
    color: $link-menu;
    text-decoration: none;
    font-size: ($fs-normal)+.2;
    line-height: ($fs-normal)+.6;
  }
}

.press-forward {
  margin-top: 10px;
  color: $text-other;
  font-size: $fs-normal;
}

.press-share {
  display: inline-block;
  width: 20%;

  a {
    display: block;
    height: 33px;
    margin-bottom: 2px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    background-size: 60%;
    @include transition(transform, .2s, ease-in-out, 0s);
    @include scale(1);

    &.facebook {
      background-color: $bg-button;
      @include path('icon-facebook-button.svg');
    }

    &.twitter {
      background-color: $bg-twitter;
      @include path('icon-twitter-share.svg');
    }

    &:hover {
      @include scale(1.1);
    }
  }
}

// ===



//
// Faq
//

.faq-form {
  .input-primary {
    height: 40px;
    border: 1px solid $news-link;
  }
}

.search-term {
  color: $link-menu;
  display: block;
  text-align: center;
  font-size: ($fs-medium)-1;
  margin: 20px 0;
}

.count-result {
  background-color: $btn-primary;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 12px;
  font-size: ($fs-normal)+.4;
  display: block;
  @include bdr(5px);
}

.questions {
  margin: 30px 0;
  min-height: 400px;
  display: inline-block;
}

%faq-item {
  content: '';
  width: 30px;
  height: 30px;
  top: 15px;
  position: absolute;
}

%js-faq-item {
  font-size: ($fs-medium)-1;
  color: $link-menu;
  right: 0;
  border: 1px solid $link-menu;
  text-align: center;
  @include bdr(100%);
}

.faq-item {
  display: inline-block;
  vertical-align: top;
  position: relative;

  &::before {
    @extend %faq-item;
    left: 15px;
    background-repeat: no-repeat;
    @include path('icon-faq.svg');
  }

  &.js-closed {
    &::after {
      @extend %faq-item;
      @extend %js-faq-item;
      content: '+';
    }
  }

  &.js-open {
    &::after {
      @extend %faq-item;
      @extend %js-faq-item;
      content: '-';
      line-height: 25px;
    }
  }

  &:hover {
    ~ .questions-title {
      border-bottom: 2px solid darken($bg-primary, 7%);
    }
  }
}

.questions-title {
  color: $link-menu;
  font-size: ($fs-normal)+.6;
  cursor: pointer;
  min-height: 60px;
  text-align: left;
  position: relative;
  display: block;
  padding: 10px 50px 10px 35px;
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: 1px solid darken($bg-primary, 7%);
}

.questions-description {
  color: $text-secondary;
  font-size: ($fs-normal)+.2;
  line-height: ($fs-medium)-1;
  background-repeat: no-repeat;
  padding: 20px 20px 10px 80px;
  overflow: hidden;
  position: relative;
  background-color: $bg-secondary;
  height: 0;
  opacity: 0;
  @include path('icon-questions.svg');
  @include bdr(0 0 6px 6px);
  @include transition(all, .2s, linear, 0s);

  &.js-active {
    height: 100%;
    min-height: 80px;
    opacity: 1;
  }
}

// ===



//
// Survey
//

.wrapper-survey {
  min-height: 660px;

  .legend {
    font-weight: bold;
    margin-top: 0;
  }
}

.previously-symptoms {
  min-height: 60px;
  color: $link-menu;
  font-size: ($fs-normal)+.4;
  text-align: center;
  margin-bottom: 30px;

  time, p {
    background-color: #FFFFFF;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  time {
    @extend .col-sm-4;
  }

  p {
    @extend .col-sm-7;
  }
}

// temperature
.temperature {
  margin-top: 30px;

  h3 {
    font-size: ($fs-normal)+.4;
    color: $link-menu;
    text-align: center;
  }

  .text-slider {
    text-align: center;
    font-size: ($fs-normal)+.6;
    font-family: $ff-bold;
    color: $link-menu;
  }

  .button-thermometer {
    width: 60px;
    height: 60px;
    display: inline-block;
    border: none;
    outline: none;
    text-indent: -9999px;
    @include bdr(100%);
    @include apr(none);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    background-color: transparent;
    @extend .hidden-sm;
    @extend .hidden-md;
    @extend .hidden-lg;

    &.minus {
      margin-left: 25%;
      @include path('icon-btn-minus.svg');
    }

    &.plus {
      @include path('icon-btn-plus.svg');
    }
  }
}

// datepicker
.wrapper-datepicker {
  margin-top: 20px;
  margin-bottom: 30px;

  h3 {
    font-size: ($fs-normal)+.4;
    color: $link-menu;
    text-align: center;
  }

  .pick-a-date {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 0;
    margin: 10px 0;
    color: $text-secondary;
    cursor: pointer;
    font-size: ($fs-normal)+.2;
    text-align: center;
  }
}

// ===



//
// Reports
//

.info-box {
  background-color: $bg-secondary;
  padding: 15px;
  margin-bottom: 15px;

  table { width: 100%; }

  tr {
    border-bottom: 1px solid $bg-primary;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    padding: 5px 10px 5px 5px;
    color: $link-menu;

    &:first-child {
      text-align: left;
      font-size: ($fs-normal)+.4;
    }

    &:last-child {
      font-style: $f-italic;
      text-align: right;
      font-size: $fs-medium;
    }
  }
}

.health-reports-accordion {
  .panel {
    background-color: transparent;
    margin-bottom: 20px;
  }

  .panel-body { padding: 10px 0; }

  header {
    cursor: pointer;
    padding: 10px 0 10px 35px;
    text-align: left;
    position: relative;
    height: 50px;
    background-color: #FFFFFF !important;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    @include path('icon-minus.svg');
    @include bdr(5px);

    &.collapsed {
      @include path('icon-plus.svg');
    }

    &.reports-ok {
      background-color: #C5D5E5 !important;

      h4 { color: #708DA1; }
    }

    h4 {
      color: $link-menu;
      font-size: ($fs-normal)+.2;
      line-height: 30px;

      span {
        font-size: ($fs-normal)-.1;
      }
    }
  }
}

.reports-table {
  width: 100%;
  font-size: ($fs-normal)+.2;

  td { padding: 10px; }

  thead {
    background-color: darken($bg-secondary, 20%);
    color: #FFFFFF;

    td {
      &:first-child { width: 100px; }
    }
  }

  tbody {
    color: $text-other;

    tr {
      &:nth-child(2n+1) {
        background-color: $bg-secondary;
      }
    }
  }
}

// ===



//
// Settings
//

.wrapper-settings {
  .default {
    color: #414141;
    text-align: left;
    font-size: ($fs-normal)+.2 !important;
    font-style: normal !important;
  }

  .link {
    a { color: $btn-primary; }
  }
}

.btn-change-pass {
  @extend .col-xs-12;
  margin: 10px 0 20px 0;
  background-size: 30px;
  background-position: 20px center;
  background-repeat: no-repeat;
  @include path('icon-key.svg');
}

.settings-table {
  @extend .reports-table;
  font-size: $fs-normal;
  margin-bottom: 20px;

  tr { text-align: center; }

  td { position: relative; }

  .fny-icon {
    position: relative;
    display: inline-block;
    right: 0;
    top: 0;
  }
}

.form-change-pass {
  h4 {
    display: inline-block;
    margin-bottom: 30px;
  }

  .wrapper-buttons {
    text-align: right;
    margin-right: 0;
    margin-top: 20px;

    button {
      background-color: $link-menu;
    }
  }
}

.form-add-household-member {
  .legend { text-align: left; }

  .radio-group {
    label {
      padding: 7px 15px 10px 40px;
    }
  }
}


// ===



//
// Media queries
//

// iPads
@media screen and (min-width: 768px) {
  .map { padding-top: 50px; }

  // learn more
  .learn-more {
    background-color: $link-menu;
    text-align: center;
    color: #FFFFFF;
    min-height: 60px;
    font-family: $ff-regular;
    position: relative;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;

    span, a { font-family: $ff-bold; }

    h3 {
      margin: 0;
      display: inline-block;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: #FFFFFF;
      margin-left: 5px;
      position: relative;

      &::after {
        content: '';
        width: 25px;
        height: 25px;
        position: absolute;
        right: -30px;
        top: 18px;
        background-size: 100%;
        @include path('icon-go-map.png');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    h3, span, a {
      line-height: 60px;
      font-size: ($fs-normal)+.6;
      margin-top: 0;
    }
  }

  .main { margin-top: 110px; }

  .wrapper-inside {
    min-height: 800px;

    .description {
      color: $text-primary;
      padding: 50px 65px;
    }
  }

  .title-primary { font-size: ($fs-normal)*4; }

  // desktop & others
  .logo-primary {
    text-indent: -9999px;
    margin: 40px 0 0 -15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include path('logo.svg');

    a {
      display: block;
      opacity: 0;
    }
  }

  .nav {
    &.navbar-nav { margin-top: 30px; }
  }

  .dropdown { margin-top: 40px; }

  .navbar {
    &.navbar-default {
      min-height: 110px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 11;
      @include rgba(lighten($white-primary-rgb, 1%), .9);
      @include bsd(1px, 2px, 2px, lighten($link-menu, 35%));
    }
  }

  .btn-cta {
    position: absolute;
    background-color: transparent;
    text-align: center;
    height: 170px;
    z-index: 9;
    right: 0;
    top: -47px;
    border: none;
    outline: none;
    @include apr(none);
    @include transition(top, .2s, linear, 0s);

    &:hover { top: -40px; }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 51%;
      background: $btn-primary;
      @include skew(0deg, 10deg);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background: $btn-primary;
      @include skew(0deg, -10deg);
    }

    span {
      text-transform: uppercase;
      color: #FFFFFF;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 10;

      &.btn-title { font-size: ($fs-normal)+.2; }

      &.btn-subtitle {
        font-family: $ff-bold;
        display: block;
        margin-top: 10px;
        font-size: ($fs-normal)+2;
      }
    }
  }

  .navbar-collapse { position: relative; }

  .news-item {
    figure { height: 150px; }
  }

  .scoopit-logo { text-align: left; }

  .btn {
    &.btn-read-news {
      display: inline-block;
      padding: 6px 65px;
    }
  }

  .tabs-nav {
    a {
      font-size: ($fs-normal)+1.8;
    }
  }

  .tabs-container {
    @include bdr(10px);

    h4 {
      &.how-it-works { text-align: left; }
      &.who-we-are {
        text-align: left;
        font-size: ($fs-normal)+1.8;
      }
    }

    .wrapper-figure {
      height: 380px;
      position: relative;

      &::before {
        content: '';
        width: 92px;
        height: 34px;
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 40%;
        right: -30px;
        background-repeat: no-repeat;
        @include path('arrow-right-help.png');
      }

      &:last-child {

        &::before { visibility: hidden; }
      }
    }

    figure {
      margin-bottom: 0;

      &.bg {
        height: 280px;
        width: 100%;
        position: relative;
      }

      img {
        @include scale(.6);
        &.scale {
          margin-left: -24px;
        }
      }
    }

    figcaption {
      height: 100px;
      position: absolute;
      bottom: -100px;
    }

    .box {
      background-color: pink;
    }
  }

  .box-healthmap, .box-skoll, .box-boston {
    margin: 0;
  }

  .box-skoll { margin-left: 80px; }

  .box-healthmap { margin: 10px; }

  .wrapper-join-us {
    min-height: 90px;
    padding-bottom: 0;

    h3 {
      font-size: ($fs-medium)+1;
    }

    .btn-secondary {
      font-size: ($fs-large)/2;
      padding: 5px 25px;
      margin-top: 20px;
    }
  }

  .complementary-info {
    padding: 20px 0;

    .get-flu-shot,
    .public-health-near-you {
      margin-bottom: 20px;
    }

    .title-primary {
      text-align: left;
      margin-bottom: 10px;
      font-size: ($fs-medium)+.8;
    }

    .input-secondary {
      margin-right: 10px;
    }
  }

  .nav-secondary {
    ul {
      margin-top: 20px;

      &:first-child { text-align: left; }

      &.social {
        margin-top: 15px;
        a {
          background-color: #FFFFFF;
          text-decoration: none;
          @include transition(background, .2s, linear, 0s);

          &:hover {
            text-decoration: none;
            background-color: $link-menu;
          }
        }
      }

      li {
        position: relative;

        &.mailto {
          position: absolute;
          right: -30px;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .wrapper-privacy { padding-bottom: 0; }

  .databox { margin-top: 0; }

  .legend-value {
    padding: 10px 5px 0 0;
    font-size: ($fs-normal)+.4;
  }

  .call-info {
    h2 {
      margin-top: 0;
      text-align: left;
    }

    li {
      font-size: ($fs-normal)+1.2;
    }
  }

  .form-call-info {
    .input-secondary {
      border: 1px solid $border-primary;
      color: $text-other;
      margin: 0 5px 0 -12%;
      @include bdr(4px);
    }

    .btn-primary { padding: 10px 20px; }
  }

  .year { text-align: left; }

  .press-share {
    width: 20%;
    margin-left: 0%;

    a {
      background-size: 40%;
    }
  }

  .search-term {
    text-align: left;
    font-size: ($fs-medium)-.5;
  }

  .count-result {
    display: inline-block;
    padding: 8px 40px;
    margin-left: 2%;
  }

  //
  // Survey
  //

  .previously-symptoms {
    time, p {
      display: inline-block;
    }

    time {
      margin-right: 6%;
    }
  }

  .wrapper-survey {
    .legend {
      font-size: ($fs-medium)-1;
    }

    .radio-group-survey {
      width: 31%;
      margin-right: 3%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .temperature, .wrapper-datepicker {
    h3 { font-size: ($fs-medium)-1; }
  }

  .temperature {
    .checkbox-group {
      margin-left: 27% !important;
      width: 56% !important;
    }
  }


  //
  // Reports
  //

  .wrapper-reports {
    .title-primary { text-align: left; }
  }


  //
  // Settings
  //

  .wrapper-settings {
    .title-primary {
      font-size: ($fs-medium)+.7;
      text-align: left;
    }
  }

  .settings-table {
    font-size: ($fs-normal)+.2;
  }

  .form-change-pass {
    .wrapper-buttons {
      margin-right: 20px;
    }
  }

}

// Desktops
@media screen and (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {
  .learn-more {
    h3, span, a { font-size: ($fs-normal)*2; }
  }

  .news-item {
    figure { height: 180px; }
  }

  .box-healthmap, .box-skoll {
    margin: 0;
  }

  .logo-primary { background-position: -30px; }

  .nav-secondary {
    li {
      &.mailto {
        right: -90px !important;
      }
    }
  }

  .call-info {
    h2 {
      font-size: ($fs-large)+1;

      span {
        font-size: ($fs-large)+2.2;
      }
    }
  }

  .press-share {
    width: 10%;
    margin-left: 10%;
  }

  .count-result { margin-left: 12%; }

}
