// —————————————————————————
//     General
// —————————————————————————

::-moz-selection {
  background: $link-menu;
  color: $border-primary;
  text-shadow: none;
}

::selection {
  background: $link-menu;
  color: $border-primary;
  text-shadow: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-size: $fs-root;
  font-family: $ff-regular;
}

.nopadding {
  padding: 0;
}

#main {
  display: block;
  position: relative;
}

//
// Header
//
.header {
  background-color: $bg-nav !important;
}

.navbar {
  text-align: center;
  margin-bottom: 0;
  @include bsd(0px, 1px, 2px, $link-menu);
}

button {
  &.navbar-toggle {
    background-color: $link-menu;

    &:hover,
    &:focus {
      background-color: $link-menu !important;
      border-color: $white-light;
    }

    .icon-bar {
      background-color: $white-light !important;
    }
  }
}

.nav-link {
  color: $link-menu !important;
  font-size: ($fs-normal)+.3;
  font-family: $ff-bold;
  text-decoration: none;
  display: block;
  @include transition(background, .2s, linear, 0s);

  &:hover { background-color: #FFFFFF !important; }
}

// map
.map {
  height: 530px;
  position: relative;
  display: block;
  background: pink;
}

// databox
.databox {
  background-color: #FFFFFF;
  position: relative;
  z-index: 10;
  padding: 0;
  @include bdr(3px);
  @include bsd(0, 0, 8px, rgba(0,0,0,0.3));
}

.databox-image {
  position: relative;
  max-width: 100%;

  img { width: 100%; }

  figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: ($fs-normal)-.2;
    background-color: rgba(0,0,0,0.4);
  }
}

%text-primary {
  color: $link-menu;
  font-size: ($fs-normal)+.2;
  font-family: $ff-bold;
}

.databox-title {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  margin: 20px 0;
  @extend %text-primary;
}

.choose-country {
  display: inline-block;
  outline: none;
  border: none;
  margin-left: 15px;
  width: 50%;
  vertical-align: middle;
  background: transparent;
  @include apr(none);
  @extend %text-primary;
}

.week-reports {
  text-align: center;
  color: $link-menu;
  font-family: $ff-regular;

  span, h3 {
    display: inline-block;
    margin-top: 10px;
    font-size: ($fs-normal)+.4;
  }

  span {
    margin-right: 5px;
  }
}

.call-info {
  background-color: orange;
}

// learn more
.learn-more {
  background-color: $link-menu;
  text-align: center;
  color: #FFFFFF;
  min-height: 60px;
  font-family: $ff-regular;
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;

  span, a { font-family: $ff-bold; }

  h3 {
    margin: 0;
    display: inline-block;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 5px;
    position: relative;

    &::after {
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      right: -30px;
      top: -3px;
      background-size: 64%;
      @include path('icon-go-map.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  h3, span, a {
    font-size: $fs-normal;
    margin-top: 10px;
  }
}

// titles
.title-primary {
  color: $link-menu;
  font-family: $ff-light;
  text-align: center;
  margin: 20px 0;
  font-size: ($fs-medium);
  position: relative;
}

// buttons
.btn {
  border: 2px solid $link-menu;
  color: $link-menu !important;
  font-family: $ff-bold;
  font-size: ($fs-normal)+.6;
  text-decoration: none;
  display: inline-block;
  position: relative;
  @include bdr(6px);
  @include transition(background, .2s, linear, 0s);

  &:hover { background-color: $bg-nav; }

  &.btn-read-news {
    display: block;
    margin: 20px auto;
  }
}

.link-to-read-more { text-align: center; }

//
// About
//
.wrapper-about-tabs {
  background-color: $bg-primary;
  margin-top: 20px;
  padding: 40px 0;
}

.tabs-nav {
  li {
    padding: 0;
  }

  a {
    color: #FFFFFF;
    font-family: $ff-bold;
    text-decoration: none;
    text-align: center;
    position: relative;
    line-height: 55px;
    outline: none;
    height: 55px;
    font-size: ($fs-normal)+.6;
    display: block;
    cursor: pointer;
    background-color: rgba(63, 111, 146, .3); // link-menu with alpha
    @include bdr(6px 6px 0 0);
    @include transition(all, .2s, linear, 0s);

    &.active {
      color: $link-menu;
      border: 2px solid $link-menu;
      background: transparent;

      &::after {
        content: '';
        width: 100%;
        height: 5px;
        background: $bg-primary;
        position: absolute;
        bottom: -3px;
        left: 0;
        z-index: 2;
      }
    }

    &:hover {
      color: $link-menu;
    }
  }
}

.tabs-container {
  border: 2px solid $link-menu;
  padding: 20px;
  top: -2px;

  .description {
    color: $link-menu;
    font-size: ($fs-normal)+.6;
    font-family: $ff-light;
    margin: 0 0 20px 0;
    text-align: center;
  }

  h4 {
    display: block;
    position: relative;
    font-family: $ff-light;
    font-size: ($fs-normal)*2;
    color: $btn-primary;
    margin: 20px 0;

    &.how-it-works {
      text-align: center;

      &::before {
        content: '';
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        @include bdr(100%);
        @include path('icon-help-banner-interna.png');
      }
    }

    &.who-we-are {
      color: $text-primary;
    }
  }

  h5 {
    color: $text-primary;
    font-size: ($fs-normal)*2;
  }

  li {
    color: $link-menu;
    font-size: ($fs-normal)+.2;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: '';
      width: 15px;
      height: 15px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px;
      @include bdr(100%);
      @include path('list-style-left-help.png');
    }
  }

  figure {
    text-align: center;
    margin-bottom: 10px;

    &.bg {
      background-color: $bg-figure;
    }

    img {
      display: block;
      margin: 0 auto;
      @include scale(.9);

      &.scale {
        margin-left: -15px;
        @include scale(.7);
      }
    }
  }

  figcaption {
    background-color: $blue-lighten;
    color: #FFFFFF;
    font-size: ($fs-normal)+.2;
    min-height: 80px;
    padding: 20px 10px;
  }

  p {
    color: $text-primary;
    font-size: ($fs-normal)+.2;
  }
}

.box-healthmap {
  margin-left: -40px;
}

.box-skoll {
  margin-left: -30px;
}

.box-boston {
  margin-left: -50px;
}


//
// News
//
.news-item {
  height: auto;
  min-height: 450px;
  position: relative;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid $border-primary;
  @include bsd(0, 0, 0, transparent);
  @include transition(box-shadow, .2s, ease, 0s);

  &:hover {
    @include bsd(0, 0, 3px, $link-menu);
  }

  a {
    display: block;
    outline: none;
    border: none;
    text-decoration: none;
    position: relative;
  }

  figure {
    height: 180px;
    width: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  time {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    padding: ($fs-normal)-.2;
    top: 15px;
    left: 15px;
    padding: ($fs-normal)-.2;
    font-family: $ff-regular;
    font-size: $fs-large;
    text-align: center;

    span {
      font-size: ($fs-normal)+.6;
      font-family: $ff-light;
      display: block;
    }
  }
}

.news-text {
  min-height: 280px;
  position: relative;
  padding: 0 ($fs-normal)+.8;

  h3 {
    font-size: ($fs-normal)+.6;
  }

  a {
    color: $link-menu;
    text-decoration: none;
    display: block;
  }

  p {
    font-size: ($fs-normal)+.2;
    line-height: ($fs-normal)+.6;
    color: $text-other;
  }
}

.read-more {
  text-align: center;
  position: relative;
  bottom: 0;
  background: $link-menu;
  font-size: $fs-normal;
  font-family: $ff-bold;
  padding: $fs-normal 0;
  color: #FFFFFF;
  @include transition(all, .2s, linear, 0s);

  &:hover {
    background: $white-primary;
    color: $link-menu;
  }
}

.scoopit-logo { text-align: center; }


//
// JoinUs
//

.wrapper-join-us {
  padding-bottom: 20px;
  background-repeat: no-repeat;
  @include path('background-blue.png');
}

.join-us {
  text-align: center;

  h3 {
    color: #FFFFFF;
    font-family: $ff-light;
    font-size: ($fs-normal)+.8;
  }
}

.btn-secondary {
  font-family: $ff-bold;
  color: $link-menu;
  outline: none;
  background: #FFFFFF;
  font-size: ($fs-medium)/2;
  text-transform: uppercase;
  border: 1px solid transparent;
  @include transition(all, .2s, linear, 0s);
  @include bdr(4px);
  @include apr(none);

  &:hover {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
}


//
// Complementary info
//
.complementary-info {
  .get-flu-shot,
  .public-health-near-you {
    margin-bottom: 30px;
  }

  .description {
    font-size: ($fs-normal)+.4;
    color: $text-secondary;
  }

  .title-primary {
    font-size: ($fs-medium)-.2;
  }

  .btn-primary {
    margin-top: 10px;
  }
}

.some-news {
  li { margin-bottom: 5px; }

  a {
    display: inline-block;
    color: $news-link;
    position: relative;
    text-decoration: none;
    font-size: ($fs-normal)+.4;

    &::before {
      content: '';
      position: relative;
      display: inline-block;
      margin-right: 10px;
      width: 8px;
      height: 8px;
      background-color: $btn-primary;
      background-repeat: no-repeat;
      @include bdr(100%);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}


//
// Footer
//
.footer {
  min-height: 80px;
  padding: 10px 0;
  position: relative;
  background-color: $btn-primary;
}

.nav-secondary {
  text-align: center;

  ul {
    margin-bottom: 10px;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }

  a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: ($fs-normal)+.4;

    &.strong { font-family: $ff-bold; }

    &.facebook {
      @include social('facebook');
    }

    &.twitter {
      @include social('twitter');
    }

    &.google-plus {
      @include social('google-plus');
    }
  }

}



//
// Media queries
//

// iPads
@media screen and (min-width: 768px) {
  .map { padding-top: 50px; }

  .learn-more {
    padding: 0;

    h3, span, a {
      line-height: 60px;
      font-size: ($fs-normal)+.6;
    }

    a {
      &::after {
        top: 18px;
        background-size: 100%;
      }
    }
  }

  .title-primary { font-size: ($fs-normal)*4; }

  .news-item {
    figure { height: 150px; }
  }

  .scoopit-logo { text-align: left; }

  .btn {
    &.btn-read-news {
      display: inline-block;
      padding: 6px 65px;
    }
  }

  .tabs-nav {
    a {
      font-size: ($fs-normal)+1.8;
    }
  }

  .tabs-container {
    @include bdr(10px);

    h4 {
      &.how-it-works { text-align: left; }
      &.who-we-are {
        text-align: left;
        font-size: ($fs-normal)+1.8;
      }
    }

    .wrapper-figure {
      height: 380px;
      position: relative;

      &::before {
        content: '';
        width: 92px;
        height: 34px;
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 40%;
        right: -30px;
        background-repeat: no-repeat;
        @include path('arrow-right-help.png');
      }

      &:last-child {

        &::before { visibility: hidden; }
      }
    }

    figure {
      margin-bottom: 0;

      &.bg {
        height: 280px;
        width: 100%;
        position: relative;
      }

      img {
        @include scale(.6);
        &.scale {
          margin-left: -24px;
        }
      }
    }

    figcaption {
      height: 100px;
      position: absolute;
      bottom: -100px;
    }

    .box {
      background-color: pink;
    }
  }

  .box-healthmap,
  .box-skoll,
  .box-boston {
    margin: 0;
  }

  .box-skoll {
    margin-left: 80px;
  }

  .box-healthmap {
    margin: 10px;
  }

  .wrapper-join-us {
    min-height: 90px;
    padding-bottom: 0;

    h3 {
      font-size: ($fs-medium)+1;
    }

    .btn-secondary {
      font-size: ($fs-large)/2;
      padding: 5px 25px;
      margin-top: 20px;
    }
  }

  .complementary-info {
    padding: 20px 0;

    .get-flu-shot,
    .public-health-near-you {
      margin-bottom: 20px;
    }

    .title-primary {
      text-align: left;
      margin-bottom: 10px;
      font-size: ($fs-medium)+.8;
    }

    .input-secondary {
      margin-right: 10px;
    }
  }

  .nav-secondary {
    ul {
      margin-top: 20px;

      &:first-child { text-align: left; }

      &.social {
        margin-top: 15px;
        a {
          background-color: #FFFFFF;
          text-decoration: none;
          @include transition(background, .2s, linear, 0s);

          &:hover {
            text-decoration: none;
            background-color: $link-menu;
          }
        }
      }

      li {
        position: relative;

        &.mailto {
          position: absolute;
          right: -30px;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}

// Desktops
@media screen and (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {
  .learn-more {
    h3, span, a { font-size: ($fs-normal)*2; }
  }

  .news-item {
    figure { height: 180px; }
  }

  .box-healthmap,
  .box-skoll {
    margin: 0;
  }

  .nav-secondary {
    li {
      &.mailto {
        right: -90px !important;
      }
    }
  }
}
