// —————————————————————————
//     Modal's
// —————————————————————————

.modal-content {
  background-color: $white-light;
}

.modal-body {
  // li {
  //   @extend %li-pattern;

  //   &.modal-list {
  //     font-size: $fs-normal;
  //     margin: auto auto 0 15px;
  //     list-style-type: disc;
  //     &::before { display: none; }
  //   }
  // }

  h5 {
    color: $link-menu;
    font-size: ($fs-normal)+.2;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
}

.btn-wrapper {
  text-align: center;

  button {
    @include apr(none);
    @include bdr(5px);
    text-decoration: none;
    width: 80%;
    font-size: $fs-normal;
    font-weight: bold;
    padding: 15px 40px;
    background-position: 0 0;
    background-size: 40%;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    text-align: center;
    text-indent: 30px;
    @include transition(background, .2s, linear, 0s);

    &:hover {
      background-size: 33%;
    }

    &.full {
      text-align: right;
    }

    &.btn-facebook {
      background-color: $bg-button;
      color: #FFFFFF;
      @include path('icon-facebook-button.svg');
    }

    &.btn-google-plus {
      background-color: #FFFFFF;
      color: $btn-primary;
      @include path('icon-google-plus.svg');
    }

    &.btn-twitter {
      background-color: $bg-twitter;
      color: #FFFFFF;
      @include path('icon-twitter-share.svg');
    }
  }
}

.never-post {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: $fs-normal;
  position: relative;
  color: $link-menu;
  margin: 10px 0;

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    left: -5px;
    @include path('icon-lock.svg');
    background-repeat: no-repeat;
    background-size: 16px;
  }
}

.or {
  @extend .never-post;
  margin: 0;

  &::before {
    width: 30%;
    height: 1px;
    background-color: #FFFFFF;
    vertical-align: middle;
    background-image: none;
    left: -20px;
  }

  &::after {
    content: '';
    width: 30%;
    height: 1px;
    background-color: #FFFFFF;
    vertical-align: middle;
    background-image: none;
    display: inline-block;
    position: relative;
    right: -15px;
  }

  &.or-login {
    &::after, &::before {
      width: 20%;
    }
  }
}

.register-form {
  color: $link-menu;
  display: inline-block;
  font-weight: bold;
  padding: 2px;
  text-decoration: underline;
  text-align: center;
  font-size: $fs-normal;
  width: 100%;
  margin: 10px 0;
}

.modal-footer {
  text-align: center;
  border: none;
  color: $text-other;
  font-size: ($fs-normal)+.6;
  padding-top: 15px;

  a {
    font-weight: 900;
    color: $btn-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.wrapper-terms-privacy {
  @extend .modal-footer;
  margin-top: 10px;
  font-size: $fs-normal;
  padding: 0;
}

.login-forgot-pass {
  display: block;
  margin-bottom: 20px;
  color: $btn-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.modal-thanks-body {
  button {
    text-align: right;
  }
}

.no-thanks {
  color: $link-menu !important;
}

.share-friends-title {
  display: block;
  color: $link-menu;
  text-align: center;
  font-size: ($fs-normal)+.4;
}

.wrapper-report-week {
  color: $link-menu;
  font-family: $ff-bold;
  text-align: center;
  font-size: ($fs-normal)+.4;
  margin: 0 0 20px 0;
}

.emoticon {
  display: block;
  text-align: center;
  height: 65px;
  margin: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 20%;
  @include path('icon-thanks.gif');
}


// =====

//
// Thanks modal
//

.modal-header {
  border: none;
  padding-top: 0;

  &.bg {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    @include path('bg-title-modal.svg');
  }
}

.modal-title {
  color: #FFFFFF;
  font-size: ($fs-normal)+.4;
  text-align: center;
  padding-top: 10px;

  span { color: $link-menu; }
}

.modal-icon {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  position: relative;
  @include bdr(100%);
}

.modal-subtitle {
  font-family: $ff-bold;
  color: $link-menu;
  font-size: $fs-medium;
  text-align: center;
}

.modal-description {
  text-align: center;
  font-size: ($fs-normal)+.6;
  color: $link-menu;
}

.refer-a-friend {
  margin-top: 25px;
  text-align: center;

  h5 {
    color: $link-menu;
    font-size: ($fs-normal)+.2;
    margin-bottom: 10px;
    font-weight: 700;
  }

  a {
    text-decoration: underline;
    font-size: ($fs-normal)+.2;
    margin: 80px 0 30px 0;
    display: block;
  }
}

.btn-modal {
  @include apr(none);
  @include bdr(5px);
  border: none;
  outline: none;
  height: 40px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-size: 25%;
  background-position: center center;

  @extend .col-xs-5;

  &.facebook {
    background-color: #395185;
    @include path('icon-facebook-modal.svg');
  }

  &.twitter {
    margin-left: 16%;
    background-color: #FFFFFF;
    @include path('icon-twitter-modal.svg');
  }

  &.mail {
    margin-left: 16%;
    background-color: #FFFFFF;
    @include path('icon-mail-modal.svg');
  }
}

.modal-item {
  font-size: $fs-normal;
  background-color: #FFFFFF;
  color: $link-menu;
  @include bdr(5px);
  text-align: left;
  margin-bottom: 5px;
  padding: 10px 12px;
  position: relative;

  &.featured {
    background-color: $btn-primary;
    color: #FFFFFF;
  }

  span {
    font-family: $ff-bold;
    position: absolute;
    right: 10px;
  }
}

.modal-footer {
  font-size: ($fs-normal)-.1;
  color: $link-menu;
  text-align: center;
  line-height: ($fs-normal)+.4;
}




// iPad
@media (min-width: 768px) {
  .modal-header {
    padding-top: 15px;

    &.bg {
      background-size: 80%;
      height: 140px;
      background-position: center -5px;
    }
  }

  .modal-title {
    font-size: ($fs-medium)+.5;
    padding-top: 0;

    &.login-title {
      font-size: ($fs-medium);
    }
  }

  .modal-body {
    li {
      &.modal-list {
        font-size: ($fs-medium)-1; // 2rem
        margin: auto auto 0 25px;
      }
    }

    h5 {
      font-size: ($fs-normal)*2;
    }

    .modal-icon {
      margin-top: 45px;
    }

    ul {
      &.modal-list {
        margin-top: 45px;
      }
    }
  }

  .btn-wrapper {
    margin-bottom: 20px;

    button {
      padding: 15px 0;
      width: 60%;
      margin-bottom: 0;

      &.btn-facebook {
        margin-left: 110px;
      }

      &.btn-google-plus {
        text-indent: 50px;
        margin-left: -110px;
      }

      &.full {
        text-align: center;
        width: 100% !important;
        text-indent: 20px;

        &.btn-facebook,
        &.btn-google-plus,
        &.btn-twitter {
          background-position: 0 10px;
          background-size: 20%;
          margin-left: 0;
        }
      }
    }
  }

  .never-post {
    margin: 0;
  }

  .modal-footer {
    padding-top: 0;
  }

  .or {
    &::before, &::after { width: 15%; }
  }

  .login-forgot-pass {
    font-size: ($fs-normal)+.2;
    text-align: left;
    margin-left: 15px;
  }

  .share-friends-title {
    margin-bottom: 20px;
    font-size: ($fs-medium)-1;
  }

  .wrapper-report-week {
    font-size: ($fs-medium)-1;

    h4 {
      font-size: ($fs-medium)-1;
    }
  }

  .emoticon {
    background-size: 10%;
    margin: 20px 0;
  }

}

// Desktop
@media (min-width: 992px) {}
