html, body
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

// Custom

*,
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

/* myReset */
.none
  display: none!important
.block
  display: block!important
.relative
  position: relative!important
.absolute
  position: absolute!important
.hidden
  overflow: hidden!important
.no-padding
  padding: 0!important

.button
  border: medium none
  border-radius: 5px
  color: white
  display: inline-block
  font-size: 16px
  padding: 8px 20px
  outline: none
  transition: all 0.5s
  text-align: center
  &:hover
    text-decoration: none

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 0 

