//
// Settings
//

.wrapper-settings
  .default
    color: #414141
    text-align: left
    font-size: $fs-normal + 0.2 !important
    font-style: normal !important
  .link
    a
      color: $btn-primary

.btn-change-pass
  @extend .col-xs-12
  margin: 10px 0 20px 0
  background-size: 30px
  background-position: 20px center
  background-repeat: no-repeat
  background-image: url("../images/icon-key.svg")

.settings-table
  @extend .reports-table
  font-size: $fs-normal
  margin-bottom: 20px
  tr
    text-align: center
  td
    position: relative
  .fny-icon
    position: relative
    display: inline-block
    right: 0
    top: 0

.form-change-pass
  h4
    display: inline-block
    margin-bottom: 30px
  .wrapper-buttons
    text-align: right
    margin-right: 0
    margin-top: 20px
    button
      background-color: $link-menu

.form-add-household-member
  .legend
    text-align: left
  .radio-group
    label
      padding: 7px 15px 10px 40px