// —————————————————————————
//     General
// —————————————————————————

html {
  font-size: $fs-root;
  font-family: $ff-primary;
}

::-moz-selection {
  background: $survey-text;
  color: $border-color;
  text-shadow: none;
}

::selection {
  background: $survey-text;
  color: $border-color;
  text-shadow: none;
}

//
// Components
//

.title-section {
  color: $bg-links;
  font-family: $ff-light;
  font-size: $fs-extra-medium;
  text-align: center;
}

//
// Structure
//


//
// Media queries
//

// iPads
@media (min-width: 768px) {
  .title-section { font-size: $fs-extra-large; }
}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
