// —————————————————————————
//     General
// —————————————————————————

body {
  font-size: $fs-root;
}

::-moz-selection {
  background: $survey-text;
  color: $border-color;
  text-shadow: none;
}

::selection {
  background: $survey-text;
  color: $border-color;
  text-shadow: none;
}

//
// Components
//


//
// Structure
//


//
// Media queries
//

// iPads
@media (min-width: 768px) {}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
