// —————————————————————————
//     General
// —————————————————————————

html {
  font-size: $fs-root;
  font-family: $ff-primary;
}

body {
  &[data-view="flu-news"] { background-color: $bg-primary; }
  &[data-view="press"] { background-color: $bg-primary; }
  &[data-view="faq"] { background-color: $bg-primary; }
  &[data-view="terms"] { background-color: $bg-primary; }
  &[data-view="privacy"] { background-color: $bg-primary; }
}

::-moz-selection {
  background: $survey-text;
  color: $border-color;
  text-shadow: none;
}

::selection {
  background: $survey-text;
  color: $border-color;
  text-shadow: none;
}

.title-section {
  color: $bg-links;
  font-family: $ff-light;
  font-size: $fs-extra-medium;
  text-align: center;
  margin: ($fs-fine)*2 0;
}

//
// Navbar
//

.nav-primary {
  position: relative;
  min-height: 60px;
  background: rgba(236, 236, 236, .9);
  @include bsd(1px, 2px, 2px, $bg-primary);
}

.nav-item {
  display: block;
}

.nav-link {
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  padding: $fs-fine 0;
  font-size: $fs-small;
  font-family: $ff-bold;
  color: $bg-links;
}


//
// Footer
//

.footer-primary {
  background-color: $btn-links;
}


//
// Scoopit
//

.scoopit-logo {
  margin-bottom: 20px;
  display: inline-block;
}

//
// Media queries
//

// iPads
@media (min-width: 768px) {
  .title-section {
    font-size: $fs-extra-large;
    margin: ($fs-fine)*3 0;
  }

  // navbar
  .nav-item { display: inline-block; }
}

// Desktops
@media (min-width: 992px) {}

// Large Desktops
@media (min-width: 1200px) {}
