<article class="news-item">
  <a href="#" title="Title here" target="_blank">
    <figure class="news-image">
      <img src="#" alt="Alt text here">
    </figure>
  </a>

  <time datetime="24/07/2015">24 <span>feb</span></time>
  <h3 class="news-title">
    <a href="#" title="Title Here">Title Here</a>
  </h3>
  <p class="news-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reprehenderit quisquam incidunt nihil porro iste molestias ipsam adipisci vero quaerat!
  </p>

  <a href="#" title="Read More" target="_blank" class="read-more">Read More</a>
</article>
