<section class="complementary-info container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 get-flu-shot">
      <h3 class="title-primary" translate="flu_shot_header"></h3>
      <p class="description" translate="flu_shot_sub"></p>

      <form action="#" name="vaccination-form" class="vaccination-form">
        <input type="tel" class="input-secondary large f-left" placeholder="Enter your postal code" ng-model="zipCodeFluShot">
        <a type="submit" class="button btn-danger submit col-xs-12 col-md-4" translate="search_button" target="_blank" ng-href="http://flushot.healthmap.org/?address={{zipCodeFluShot}}"></a>
      </form>
    </div>


    <div class="col-xs-12 col-sm-6 public-health-near-you">
      <h3 class="title-primary" translate="public_health_header"></h3>

      <ul class="some-news">
        <li>
          <a ng-href="http://www.atsdr.cdc.gov/" title="United States Agency for Toxic Substances and Disease Registry" target="_blank">United States Agency for Toxic Substances and Disease Registry</a>
        </li>

        <li>
          <a ng-href="http://wwwn.cdc.gov/travel/default.aspx" title="United States CDC_Travellers' Health" target="_blank">United States CDC_Travellers' Health</a>
        </li>

        <li>
          <a ng-href="http://www.cdc.gov/" title="United States Centres for Disease Control and Prevention" target="_blank">United States Centres for Disease Control and Prevention</a>
        </li>
      </ul>
    </div>
  </div>
</section>
