<aside id="databox" class="databox col-xs-12 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0">
  <div>
    <h4 class="databox-title">Flu Activity in:</h4>

    <select name="choose-country" id="choose-country" class="choose-country">
      <option value="Brazil">Brazil</option>
      <option value="Italy">Italy</option>
      <option value="United States">United States</option>
    </select>
  </div>

  <figure id="databox-image" class="databox-image">
    <img src="http://dummyimage.com/293x150/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
    <figcaption>Source: CDC</figcaption>
  </figure>

  <div id="week-reports" class="week-reports">
    <span>8583</span>
    <h3 id="reports-of-week" class="reports-of-week">reports this week</h3>
  </div>

  <ul id="legend-list" class="legend-list">
    <li class="legend-item">
      <span class="legend-value">156</span>
      <span class="legend-description">Flu-like Symptoms 2%</span>
      <span class="more-info">Fewer participants are reporting flu-like symptoms this week than last</span>
    </li>

    <li class="legend-item">
      <span class="legend-value">958</span>
      <span class="legend-description">Any Symptoms 11%</span>
    </li>

    <li class="legend-item">
      <span class="legend-value">7625</span>
      <span class="legend-description">No Symptoms 11%</span>
    </li>
  </ul>
</aside>
