<aside id="databox" class="databox col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 col-lg-3 ng-scope">
    <div class="relative">
        {{objDataSurvey}}
        <h4 class="databox-title">Flu Activity in:</h4>
    
        <select  name="choose-state" id="choose-state" class="choose-country" choose-state-directive>
            <option ng-repeat="state in stateList" 
            data-lat="{{state.lat}}" 
            data-lon="{{state.lon}}"
            data-surveys="{{state.data.total_surveys}}" 
            data-nosymptoms="{{state.data.no_symptoms}}"
            data-nosymptomspercent="{{state.data.none_percentage}}"
            data-symptoms="{{state.data.symptoms}}"
            data-symptomspercent="{{state.data.symptoms_percentage}}"
            data-flulike="{{state.data.ili}}"
            data-flulikepercent="{{state.data.ili_percentage}}" 
            value="{{state.name}}">{{state.name}}</option>
        </select>
    </div>

  <div class="wrapper-databox-image">
    <figure id="databox-image" class="databox-image">
      <img src="" alt="">
      <figcaption>Source: CDC</figcaption>
    </figure>

    <figure id="mini-image" class="mini-image">
      <img src="" alt="">
    </figure>
  </div>


  <div id="week-reports" class="week-reports">
    <span>{{infoDataBox.surveys}}</span>
    <h3 id="reports-of-week" class="reports-of-week">reports this week</h3>
  </div>

  <ul id="legend-list" class="legend-list">
    <li class="legend-item open-more-info col-xs-12" id="open-more-info">
      <span class="legend-value col-xs-3 col-sm-4 js-red">{{infoDataBox.flulike}}</span>
      <span class="legend-description col-xs-9 col-sm-8 arrow js-up">Flu-like Symptoms {{infoDataBox.flulikepercent}}%</span>
    </li>

    <li class="legend-item col-xs-12 more-info" id="more-info">
      <p>Fewer participants are reporting flu-like symptoms this week than last</p>
    </li>

    <li class="legend-item col-xs-12">
      <span class="legend-value col-xs-3 col-sm-4 js-blue">{{infoDataBox.symptoms}}</span>
      <span class="legend-description col-xs-9 col-sm-8">Any Symptoms {{infoDataBox.symptomspercent}}%</span>
    </li>

    <li class="legend-item col-xs-12">
      <span class="legend-value col-xs-3 col-sm-4 js-yellow">{{infoDataBox.nosymptoms}}</span>
      <span class="legend-description col-xs-9 col-sm-8">No Symptoms {{infoDataBox.nosymptomspercent}}%</span>
    </li>
  </ul>
</aside>
