<header class="modal-header bg">
    <button class="close" data-dismiss="modal" ng-click="cancel();winReload()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><span translate="modal_existing_user_thank_you"></span> <span translate="modal_existing_user_submitting"></span></h4>
</header>

<div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <figure class="modal-icon">
            <img src="images/icon-badge-modal.svg" alt="badge">
            
            <figcaption>420</figcaption>
          </figure>
        </div>

        <div class="col-xs-12 col-sm-5">
          <h3 class="modal-subtitle">Almost 100</h3>
          <p class="modal-description">New Hampshire needs just 5 more users to reach 100 participants.</p>

          <div class="refer-a-friend">
            <h5>Refer a friend in your area:</h5>

            <button class="btn-modal facebook" ng-hide="showform">Facebook</button>
            <button class="btn-modal mail" ng-click="showform=true" ng-hide="showform">Mail</button>
            <!-- <button class="btn-modal twitter" ng-hide="showform">Twitter</button> -->

            <!-- invite a friend -->
            <form action="#" class="refer-a-friend-form" ng-show="showform" name="refer-a-friend-form" id="refer-a-friend-form">
              <fieldset>
                <input type="email" class="input-primary" placeholder="Add friend's email addresses">
                <legend>Separate multiple emails with commas.</legend>
              </fieldset>

              <input type="submit" class="btn-submit" value="">
            </form>

            <a href="#" ng-click="cancel();winReload()">No thanks, continue</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <ul class="modal-list">
            <li class="modal-item featured">Participation Rate: <span>{{reportCard.participation_rate}}%</span></li>
            <li class="modal-item">Weeks eligible to report <span>{{reportCard.weeks_eligible}}</span></li>
            <li class="modal-item">Weeks reported <span>{{reportCard.weeks_reported}}</span></li>
            <li class="modal-item">Weeks since last report <span>{{reportCard.weeks_since_last_report}}</span></li>
          </ul>
        </div>
      </div>
    </div>
</div>

<footer class="modal-footer">
    <div class="container-fluid">
      <div class="row">
        <p> This tool does not provide medical advice. It is intended for informational and educational purposes only.It is not a substitute for professional medical advice, diagnosis or treatment. Call your doctor to receive medical advice.If you think you may have a medical emergency, immediately call your doctor or dial 911.</p>
      </div>
    </div>
</footer>

