<!-- mobile -->
<div class="navbar-header hidden-md hidden-lg">
    <a class="col-xs-6" ng-href="#/" title="Go home">
        <figure class="logo-secondary">
            <img src="images/logo.svg" class="img-responsive" alt="Flu Near You">
        </figure>
    </a>

    <!-- <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse"> -->
    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<!-- desktop -->

<div class="container hidden-sm" ng-controller="navCtrl">
    <div class="row">
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <h1 class="hidden-sm col-sm-3 logo-primary">
                <a ng-href="#/" title="Flu Near You">Flu Near You</a>
            </h1>

            <ul class="nav navbar-nav nopadding" ng-class="{ 'col-sm-5' :  userLogged, 'col-sm-6' : !userLogged}">
                <li> <a class="nav-link" title="Flu Map" ng-href="#/map" ng-click="changeShowFluMap()">Flu Map</a> </li>
                <li> <a class="nav-link" title="About" ng-href="#/about">About</a> </li>
                <li> <a class="nav-link" title="News" ng-href="#/flu-news">News</a> </li>
                <li> <a class="nav-link" title="Press" ng-href="#/press">Press</a> </li>
                <li> <a class="nav-link" title="FAQ" ng-href="#/faq">FAQ</a> </li>
                <li> <a class="nav-link" title="Login" data-toggle="modal" data-dismiss="modal" data-target="#modal-login" ng-hide="userLogged">Login</a> </li>
                <li class="relative">
                    <div class="select-language">
                        <span class="arrow-down"></span>
                        <span data-href="en" class="eng">ENG</span>
                        <span data-href="es" class="spa">SPA</span>
                    </div>
                </li>
                <li> <a class="nav-link lets-go hidden-sm hidden-md hidden-lg" data-toggle="modal" data-target="#modal-join-us">Let's go!</a> </li>
            </ul>

            <!-- dropdown when user is logged -->
            <div class="dropdown hidden-xs col-sm-3 no-padding relative">
                <button class="btn btn-default dropdown-toggle dropdown-user" type="button" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-click="toggleCustom()">
                    {{userLoggedEmail}}
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdown-user" ng-show="custom">
                    <li><a ng-href="#/settings" title="Settings">Settings</a></li>
                    <li><a ng-href="#/reports" title="Health Reports">Health Reports</a></li>
                    <li><a ng-href="#/" title="Log out" ng-click="logout()">Log out</a></li>
                </ul>
                <a href="#/report" id="btn-report" class="absolute button btn-danger" ng-hide="!userLogged">Report</a>
            </div>



            <!-- button | call to action -->
            <button class="hidden-sm col-sm-3 btn-cta" title="Join us" data-toggle="modal" data-target="#modal-join-us" ng-hide="userLogged">
                <span class="btn-title">Help Fight disease now:</span>
                <span class="btn-subtitle">join us</span>
            </button>

        </div>
    </div>
</div>