<section class="modal fade modal-join-us" id="modal-join-us" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header bg">
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Spread the word. <span>Not the flu.</span></h4>
      </header>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <ul class="modal-list">
              <li class="modal-item">Join thousands who are helping report flu.</li>
              <li class="modal-item">Protect yourself, your family & your community.</li>
            </ul>

            <h5>Ready to report? Let's hear from you.</h5>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 btn-wrapper">
              <button class="btn-facebook">Facebook</button>
            </div>

            <div class="col-xs-12 col-sm-6 btn-wrapper">
              <button class="btn-google-plus">Google Plus</button>
            </div>
          </div>

          <div class="row">
            <small class="never-post">We will never post on your wall</small>
            <span class="or">or you can</span>

            <a ng-click="showRegisterForm=true" class="register-form">Register with email address</a>
          </div>

          <form action="#" ng-show="showRegisterForm" name="register-form" id="register-form" class="row register-form">
            <fieldset class="form-group col-sm-6">
              <label for="register-email">Email address</label>
              <input id="register-email" type="email" class="input-primary">
            </fieldset>

            <fieldset class="form-group col-sm-6">
              <label for="register-password">Password</label>
              <input id="register-password" type="password" class="input-primary">
            </fieldset>

            <fieldset class="form-group col-sm-6">
              <label for="register-year">When were you born?</label>
              <small>You must be at least 13 years old</small>

              <select name="register-choose-month" id="register-choose-month" class="col-xs-12 col-sm-5 register-choose-month select-primary">
                <option value="Month" disabled selected>Month</option>
                <option value="Month_1">Month_1</option>
                <option value="Month_2">Month_2</option>
                <option value="Month_3">Month_3</option>
              </select>

              <input id="register-year" type="tel" class="col-sm-3 input-primary register-year" placeholder="YYYY">
            </fieldset>

            <fieldset class="form-group col-sm-6">
              <label for="register-zip-code">Zip code</label>
              <small>You must be a resident of the U.S. or Canada</small>
              <input id="register-zip-code" type="tel" class="input-primary">
            </fieldset>

            <fieldset class="form-group col-sm-12">
              <legend class="legend">Gender:</legend>

              <fieldset class="radio-group col-xs-6 col-sm-3">
                <input type="radio" value="M" id="male" class="radio-primary" name="register-gender">
                <label for="male">Male</label>
                <div class="check"><div class="inside"></div></div>
              </fieldset>

              <fieldset class="radio-group col-xs-6 col-sm-3">
                <input type="radio" value="F" id="female" class="radio-primary" name="register-gender">
                <label for="female">Female</label>
                <div class="check"><div class="inside"></div></div>
              </fieldset>
            </fieldset>

            <div class="col-sm-12 wrapper-terms-privacy">
              <p>By signing up, I agree to Flu Near You <a ng-href="#/terms" title="Terms and Conditions" data-dismiss="modal" class="link-close-modal">Terms and Conditions</a> and <a ng-href="#/privacy" title="Privacy Policy" data-dismiss="modal" class="link-close-modal">Privacy Policy</a>.</p>

              <button type="submit" class="btn-primary">Get started</button>
            </div>
          </form>
        </div>
      </div>

      <footer class="modal-footer">
        <p>Already registered with Flu Near You?
        <a ng-href="#" title="Sign in" data-toggle="modal" data-dismiss="modal" data-target="#modal-login">Sign in here</a>
        </p>
      </footer>
    </div>
  </div>
</section>

<!--

  To '#/terms' and '#/privacy' use this code to hide modal when click
  and 'submit' page correctly.

  $('.link-close-modal').click(function(){
        $($(this).closest('.modal')).modal('hide');
   })
 -->
