<h2 class="title-section">Frequently Asked Questions about Flu Near You</h2>

<div class="row">
  <form action="#" class="form faq">
    <label for="search-term">What's your question?</label>
    <input id="search-term" type="text" placeholder="Enter a search term" class="input-primary large">
    <span id="count-result" class="count-result">Search</span>
  </form>

  <section id="questions" class="questions">
    <ul>
      <li class="faq-item col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-class="{active:accordion==1}" ng-repeat="faq in faqFeeds">
        <h4 class="questions-title js-plus" ng-click="accordion = 1">{{ faq.title }}
        </h4>
        <p class="questions-description" ng-show="accordion==1">
          {{ faq.description }}
        </p>
      </li>
    </ul>
  </section>
</div>
