<h2 class="title-section">Frequently Asked Questions about Flu Near You</h2>

<form action="#" class="form faq">
  <label for="search-term">What's your question?</label>
  <input id="search-term" type="text" placeholder="Enter a search term" class="input-primary large">
  <span id="count-result" class="count-result">Search</span>
</form>

<section id="questions" class="questions">
  <ul>
    <li ng-repeat="faq in faqFeeds">
      <h4 class="questions-title">{{ faq.title }}</h4>
      <p class="questions-description">
        {{ faq.description }}
      </p>
    </li>
  </ul>
</section>
