<section class="wrapper-inside bg wrapper-faq">
    <div class="container">
        <div class="row">
            <h2 class="title-primary" translate="faq_title"></h2>

            <div class="col-md-12 center">
                <form action="#" class="faq-form col-md-8 center" name="faq-form" id="faq-form">
                    <p for="search-term" class="search-term" translate="faq_search_question"></p>
                    <input id="search-term" type="text" placeholder="{{ 'enter_a_search_term' | translate }}"  class="input-primary col-sm-8" search>
                    <button id="count-result" class="button btn-danger" translate="search_button"></button>
                </form>

                <section id="questions" class="questions">
                    <ul>
                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_what_is"></h4>
                            <p class="questions-description js-active" translate="sp_help_what_is_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_how_can_i_part"></h4>
                            <p class="questions-description js-active" translate="sp_help_how_can_i_part_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_who_can_participate"></h4>
                            <p class="questions-description js-active" translate="sp_help_who_can_participate_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_who_created"></h4>
                            <p class="questions-description js-active" translate="sp_help_who_created_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_who_can_see"></h4>
                            <p class="questions-description js-active" translate="sp_help_who_can_see_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_what_is_ili"></h4>
                            <p class="questions-description js-active" translate="sp_help_what_is_ili_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_should_i_still"></h4>
                            <p class="questions-description js-active" translate="sp_help_should_i_still_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_i_didnt"></h4>
                            <p class="questions-description js-active" translate="sp_help_i_didnt_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_i_got_a_flu"></h4>
                            <p class="questions-description js-active" translate="sp_help_i_got_a_flu_text_1"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_how_do_i_change"></h4>
                            <p class="questions-description js-active" translate="sp_help_how_do_i_change_text_1"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_i_know_i_dont"></h4>
                            <p class="questions-description js-active" translate="sp_help_i_know_i_dont_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_i_am_a_healthcare"></h4>
                            <p class="questions-description js-active" translate="sp_help_i_am_a_healthcare_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_the_map_does_not"></h4>
                            <p class="questions-description js-active" translate="sp_help_the_map_does_not_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_i_had_the_flu"></h4>
                            <p class="questions-description js-active" translate="sp_help_i_had_the_flu_text"></p>
                            <span></span>
                        </li>

                        <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_how_can_i_add"></h4>
                            <p class="questions-description js-active" translate="sp_help_how_can_i_add_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_why_are_there_so"></h4>
                            <p class="questions-description js-active" translate="sp_help_why_are_there_so_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_how_do_i_unsubs"></h4>
                            <p class="questions-description js-active" translate="sp_help_how_do_i_unsubs_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_i_just_joined"></h4>
                            <p class="questions-description js-active" translate="sp_help_i_just_joined_text"></p>
                            <span></span>
                        </li>

                         <li class="faq-item col-xs-12 col-md-5" accordion>
                            <h4 class="questions-title" translate="sp_help_do_i_have_to_answer"></h4>
                            <p class="questions-description js-active" translate="sp_help_do_i_have_to_answer_text"></p>
                            <span></span>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <!-- join us -->
    <section class="wrapper-join-us m-top">
        <div ng-include src="'views/partials/join-us.html'"></div>
    </section>
</section>