<section class="wrapper-inside bg wrapper-faq">
    <div class="container">
        <div class="row">
            <h2 class="title-primary" translate="faq_title"></h2>

            <div class="col-md-12 center">
                <form action="#" class="faq-form col-md-8 center" name="faq-form" id="faq-form">
                    <p for="search-term" class="search-term" translate="faq_search_question"></p>
                    <input id="search-term" type="text" placeholder="{{ 'enter_a_search_term' | translate }}"  class="input-primary col-sm-8" search>
                    <button id="count-result" class="button btn-danger" translate="search_button"></button>
                </form>

                <section id="questions" class="questions">
                    <ul>
                        <li class="faq-item col-xs-12 col-md-5" ng-repeat="question in questions" accordion>
                            <h4 class="questions-title">{{question.ask}}</h4>
                            <p class="questions-description js-active">{{question.answer}}</p>
                            <span></span>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <!-- join us -->
    <section class="wrapper-join-us m-top">
        <div ng-include src="'views/partials/join-us.html'"></div>
    </section>
</section>