<section class="map relative">
        
    <!-- databox -->
    <div ng-include src="'views/partials/databox.html'"></div>

    <!-- assets to map -->
    <div ng-class="{'none': showFluMap}" class="container map-assets">
        <div class="row">

            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 col-lg-3"></div>
            
            <!-- Section 1 - Home -->
            <aside id="call-info" class="call-info col-xs-12 col-sm-5 col-sm-offset-2 col-md-7 col-md-offset-1 col-lg-6">
                <h2>Spread the word. <span>Not the flu.</span></h2>

                <form action="#" id="form-call-info" class="form-call-info" name="form-call-info">
                    <input type="tel" class="input-secondary large" placeholder="Enter your City or Zipcode">
                    <input type="submit" class="btn-primary" value="Check for flu">
                </form>

                <ul>
                    <li>Join thousands who are helping report flu.</li>
                    <li>Protect yourself, your family & your community.</li>
                    <li>Ready to report? Let's hear from you.</li>
                </ul>

                <div class="sigin-home">
                    <div id="sign-in-buttons" class="sign-in-buttons-home">
                        <a id="facebook-register" class="button-facebook tracking" title="Sign-in with Facebook" data-category="Modal" data-action="Sign in" data-label="Sign in with Facebook">
                            Sign-in with Facebook
                        </a>

                        <a id="google-plus-register" class="button-googleplus tracking" title="Sign-in with Google+" data-category="Modal" data-action="Sign in" data-label="Sign in with Google Plus">
                            Sign-in with Google+
                        </a>

                        <div class="lock ">
                            <img style="margin-top: -5px" src="images/locker.png" width="16" height="16">
                            <span style="margin-left: 10px">We will never post on your wall</span>
                        </div>
                    </div>

                    <div id="signup-with-email" class="relative">
                        <span class="line left "></span>
                        <span class="line right "></span>
                        <span class="text-separator">or you can</span>

                        <!-- Other form -->
                        <div class="open_form ">
                            <a id="open-form" class="open_form_registration btn-register tracking" title="Register with email address" data-toggle="modal" data-target="#modal-join-us" style="cursor: pointer">
                                Register with email address
                            </a>
                        </div>
                        <!-- second form -->
                    </div>
                </div>

            </aside>
        </div>
    </div>
</section>

<!-- map buttons -->
<section class="hide-show hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <button class="col-xs-6 js-active">show data</button>
            <button class="col-xs-6">view map</button>
        </div>
    </div>
</section>
 
<!-- Learn more -->
<div ng-include src="'views/partials/learn-more.html'"></div>

<!-- Flu-news -->
<section class="wrapper-flu-news">
    <h2 class="title-primary">Keep up-to-date with our news</h2>
    <div ng-include src="'views/partials/news.html'"></div>
</section>

<!-- Tabs -->
<section class="wrapper-about-tabs">
    <div ng-include src="'views/partials/about-tabs.html'"></div>
</section>

<!-- Join us -->
<section class="wrapper-join-us">
    <div ng-include src="'views/partials/join-us.html'"></div>
</section>

<!-- Complementary info -->
<section class="wrapper-complementary-info">
    <div ng-include src="'views/partials/complementary-info.html'"></div>
</section>
