<section class="map relative">
        
    <!-- databox -->
    <div ng-include src="'views/partials/databox.html'"></div>

    <!-- assets to map -->
    <div ng-class="{'none': showFluMap}" class="container map-assets">
        <div class="row">

            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 col-lg-3"></div>
            
            <!-- Section 1 - Home -->
            <aside id="call-info" class="call-info col-xs-12 col-sm-5 col-sm-offset-6 col-md-7 col-md-offset-1 col-lg-6">
                <h2>Spread the word. <span>Not the flu.</span></h2>

                <form action="#" id="form-call-info" class="form-call-info" name="form-call-info">
                    <input type="tel" class="input-secondary large" placeholder="Enter your City or Zipcode">
                    <input type="submit" class="btn-primary" value="Check for flu">
                </form>

                <ul>
                    <li>Join thousands who are helping report flu.</li>
                    <li>Protect yourself, your family & your community.</li>
                    <li>Ready to report? Let's hear from you.</li>
                </ul>
            </aside>
        </div>
    </div>
</section>
 
<!-- Learn more -->
<div ng-include src="'views/partials/learn-more.html'"></div>

<!-- Flu-news -->
<section class="wrapper-flu-news">
    <h2 class="title-primary">Keep up-to-date with our news</h2>
    <div ng-include src="'views/partials/news.html'"></div>
</section>

<!-- Tabs -->
<section class="wrapper-about-tabs">
    <div ng-include src="'views/partials/about-tabs.html'"></div>
</section>

<!-- Join us -->
<section class="wrapper-join-us">
    <div ng-include src="'views/partials/join-us.html'"></div>
</section>

<!-- Complementary info -->
<section class="wrapper-complementary-info">
    <div ng-include src="'views/partials/complementary-info.html'"></div>
</section>
