
<section id="map" class="map relative">
        
    <!-- databox -->
    <div ng-include src="'views/partials/databox.html'"></div>
    
    <!-- Flu-map -->
    <ui-gmap-google-map ng-if="showFluMap" refresh="showFluMap" center="map.center" zoom="map.zoom" options="map.options">

        <ui-gmap-markers ng-repeat="marker in markers" models="marker" coords="marker.coords" click="teste()"> 
            <ui-gmap-window coords="marker.coords" isIconVisibleOnClick="false" show="true">
               <p>teste</p>
            </ui-gmap-window>
        </ui-gmap-markers>
    </ui-gmap-google-map>


    <!-- assets to map -->
    <div ng-class="{'none': showFluMap}" class="container map-assets">
        <div class="row">

            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 col-lg-3"></div>
            
            <!-- Section 1 - Home -->
            <aside id="call-info" class="call-info col-xs-12 col-sm-5 col-sm-offset-2 col-md-7 col-md-offset-1 col-lg-6">
                <h2>Spread the word. <span>Not the flu.</span></h2>

                <form action="#" id="form-call-info" class="form-call-info" name="form-call-info">
                    <input type="tel" class="input-secondary large" placeholder="Enter your City or Zipcode">
                    <input type="submit" class="btn-primary" value="Check for flu">
                </form>

                <ul>
                    <li>Join thousands who are helping report flu.</li>
                    <li>Protect yourself, your family & your community.</li>
                    <li>Ready to report? Let's hear from you.</li>
                </ul>
            </aside>

            <!-- map controls -->
            <div id="map-controls" class="map-controls">
                <fieldset>
                    <input type="radio" name="user-contributed-flu" id="user-contributed-flu" checked="checked">
                    <label for="user-contributed-flu">User Contributed Flu Activity</label>
                </fieldset>

                <fieldset>
                    <input type="radio" name="cdc-flu-activity" id="cdc-flu-activity">
                    <label for="cdc-flu-activity">CDC Flu Activity</label>
                </fieldset>
            </div>
        </div>
    </div>
</section>

<!-- map buttons -->
<section class="hide-show hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <button class="col-xs-6 js-active">show data</button>
            <button class="col-xs-6">view map</button>
        </div>
    </div>
</section>

<!-- Learn more -->
<section class="learn-more hidden-xs">
    <div class="container">
        <div class="row">
            <h3><span>Flu Near You</span> is a community health project for North America.</h3>
            <a href="#" title="Learn more about how it works">Learn more about how it works</a>
        </div>
    </div>
</section>

<!-- Flu-news -->
<section class="wrapper-flu-news">
    <h2 class="title-primary">Keep up-to-date with our news</h2>
    <div ng-include src="'views/partials/news.html'"></div>
</section>

<!-- Tabs -->
<section class="wrapper-about-tabs">
    <div ng-include src="'views/partials/about-tabs.html'"></div>
</section>

<!-- Join us -->
<section class="wrapper-join-us">
    <div ng-include src="'views/partials/join-us.html'"></div>
</section>

<!-- Complementary info -->
<section class="wrapper-complementary-info">
    <div ng-include src="'views/partials/complementary-info.html'"></div>
</section>
