<section class="map relative">
        
    <!-- databox -->
    <div ng-include src="'views/partials/databox.html'"></div>

    <!-- assets to map -->
    <div ng-class="{'none': showFluMap}" class="container map-assets">
        <div class="container">
            <div class="row">

                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-4 col-lg-3"></div>
                
                <!-- Section 1 - Home -->
                <aside id="call-info" class="call-info col-xs-12 col-sm-5 col-sm-offset-6 col-md-7 col-md-offset-1 col-lg-6">
                    <h2 translate="main_header2"><span translate="raw"></span></h2>

                    <form action="#" id="form-call-info" class="form-call-info col-xs-12" name="form-call-info">
                        <input type="tel" class="input-secondary large" placeholder="Enter your City or Zipcode">
                        <button type="submit" class="button btn-danger" translate="view_btn2"></button>
                    </form>

                    <ul class="col-xs-12">
                        <li translate="subheader2_1"></li>
                        <li translate="subheader2_2"></li>
                        <li translate="subheader2_3"></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>
 
<!-- Learn more -->
<div ng-include src="'views/partials/learn-more.html'"></div>

<!-- Flu-news -->
<section class="wrapper-flu-news">
    <h2 class="title-primary" translate="flu_news_header"></h2>
    <div ng-include src="'views/partials/news.html'"></div>
</section>

<!-- Tabs -->
<section class="wrapper-about-tabs">
    <div ng-include src="'views/partials/about-tabs.html'"></div>
</section>

<!-- Join us -->
<section class="wrapper-join-us">
    <div ng-include src="'views/partials/join-us.html'"></div>
</section>

<!-- Complementary info -->
<section class="wrapper-complementary-info">
    <div ng-include src="'views/partials/complementary-info.html'"></div>
</section>
