<section class="wrapper-inside bg wrapper-press">
    <div class="container">
        <div class="row">
            <h2 class="title-primary">Flu Near You Press</h2>

            <!-- 2015 -->
            <div class="col-xs-12 col-sm-6 col-md-6 wrapper-press">
                <h3 class="year">2015</h3>

                <ul class="press-list col-md-12">
                    <li class="press-item relative" ng-repeat="press in press2015">
                        <a ng-href="{{press.url}}" class="press-link" title="Title Here" target="_blank">
                            <time>{{press.publicationDateDay}} {{press.publicationDateMonth}}</time>

                            <div class="press-info">
                                <h4 class="press-title">{{press.title}}</h4>
                                <p class="press-forward">{{press.content}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 2014 -->
            <div class="col-xs-12 col-sm-6 col-md-6 wrapper-press">
                <h3 class="year">2014</h3>

                <ul class="press-list col-md-12">
                   <li class="press-item relative" ng-repeat="press in press2014">
                        <a ng-href="{{press.url}}" class="press-link" title="Title Here" target="_blank">
                            <time datetime="24-02-2015">{{press.publicationDateDay}} {{press.publicationDateMonth}}</time>

                            <div class="press-info">
                                <h4 class="press-title">{{press.title}}</h4>
                                <p class="press-forward">{{press.content}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- join us -->
    <section class="wrapper-join-us m-top">
        <div ng-include src="'views/partials/join-us.html'"></div>
    </section>
</section>
