<section class="wrapper-inside bg wrapper-faq">
  <div class="container">
    <div class="row">
        <!-- <h2 class="title-primary">Frequently Asked Questions about Flu Near You</h2> -->
        <section class="col-xs-12 col-sm-5 col-sm-offset-1">
          <h3 class="title-primary"></h3>
        </section>

        <section class="col-xs-12 col-sm-6">
          <h3 class="title-primary"></h3>
        </section>
    </div>
  </div>

  <!-- join us -->
  <section class="wrapper-join-us m-top">
    <div ng-include src="'views/partials/join-us.html'"></div>
  </section>
</section>

<!-- https://flunearyou.org/reports -->
