<section class="wrapper-inside bg wrapper-reports">
  <div class="container">
    <div class="row">
        <section class="col-xs-12 col-sm-5">
          <h3 class="title-primary">Report Card</h3>

          <div class="info-report-card">
            <table>
              <tbody>
                <tr>
                  <td>Weeks eligible to report</td>
                  <td>36</td>
                </tr>

                <tr>
                  <td>Weeks reported</td>
                  <td>15</td>
                </tr>

                <tr>
                  <td>Weeks since last report</td>
                  <td>1</td>
                </tr>

                <tr>
                  <td>Participation rate</td>
                  <td>41.7%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="col-xs-12 col-sm-5 col-sm-offset-1">
          <h3 class="title-primary">Health Reports</h3>

          <div class="panel-group health-reports-accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <!--
            Change data-target, aria-controls and id for each accordion.
           -->

            <!-- Accordion -->
            <div class="panel">
              <header class="panel-heading" role="tab" id="firs-panel" data-parent="#accordion" data-toggle="collapse" data-target="#reports-me" aria-expanded="false" aria-controls="reports-me">
                <h4 class="panel-title">Me</h4>
              </header>

              <div id="reports-me" class="panel-collapse collapse" role="tabpanel" aria-labelledby="firs-panel">
                <div class="panel-body">
                  <table class="reports-table">
                    <thead>
                      <tr>
                        <td>Report Card</td>
                        <td>Reported symptoms</td>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>08/10/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>08/04/2015</td>
                        <td>Fever, Diarrhea, Cough, Sore throat, Headache</td>
                      </tr>

                      <tr>
                        <td>07/27/2015</td>
                        <td>No Symptoms</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Accordion -->
            <div class="panel">
              <header class="panel-heading" role="tab" id="firs-panel" data-parent="#accordion" data-toggle="collapse" data-target="#reports-household" aria-expanded="false" aria-controls="reports-household">
                <h4 class="panel-title">Household <span>(Female , 25 years)</span></h4>
                <i class="reports-icon report" title="Report Symptoms"></i>
              </header>

              <div id="reports-household" class="panel-collapse collapse" role="tabpanel" aria-labelledby="firs-panel">
                <div class="panel-body">
                  <table class="reports-table">
                    <thead>
                      <tr>
                        <td>Report Card</td>
                        <td>Reported symptoms</td>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>08/20/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>08/19/2015</td>
                        <td>Fever, Diarrhea, Cough, Sore throat, Headache</td>
                      </tr>

                      <tr>
                        <td>07/18/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/17/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/16/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/15/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/14/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/13/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/12/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/11/2015</td>
                        <td>No Symptoms</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Accordion -->
            <div class="panel">
              <header class="panel-heading reports-ok" role="tab" id="firs-panel" data-parent="#accordion" data-toggle="collapse" data-target="#reports-household-two" aria-expanded="false" aria-controls="reports-household-two">
                <h4 class="panel-title">Household Two <span>(Male , 10 years)</span></h4>
                <i class="reports-icon check"></i>
              </header>

              <div id="reports-household-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="firs-panel">
                <div class="panel-body">
                  <table class="reports-table">
                    <thead>
                      <tr>
                        <td>Report Card</td>
                        <td>Reported symptoms</td>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>08/20/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>08/19/2015</td>
                        <td>Fever, Diarrhea, Cough, Sore throat, Headache</td>
                      </tr>

                      <tr>
                        <td>07/18/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/17/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/16/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/15/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/14/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/13/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/12/2015</td>
                        <td>No Symptoms</td>
                      </tr>

                      <tr>
                        <td>07/11/2015</td>
                        <td>No Symptoms</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
  </div>
