<div class="container" style="padding-bottom: 20px;">
    <header class="row header-survey">
        <div class="col-xs-12">
			<h2>Health Report</h2>
			<p style="margin-bottom: 0" ng-if="user.current_survey == false"><span id="startDate">04/25/2016</span> - <span id="endDate">05/01/2016</span></p>
			<h3 style="margin-top: 5px;margin-bottom: 5px" ng-if="user.current_survey == true">Select household members who had any of the following symptoms since 05/06/2016</h3>
            <h3 style="margin-top: 5px;margin-bottom: 5px" ng-if="user.current_survey == false">Select household members who had any of the following symptoms</h3>
        </div>
        <table class="symptoms_table">
            <tr>
                <td>Fever</td>
                <td>Cough</td>
                <td>Headache</td>
                <td>Sore throa</td>
            </tr>
            <tr>
                <td>Diarrhea</td>
                <td>Body aches</td>
                <td>Fatigue</td>
                <td>Chills/night sweats</td>
            </tr>
            <tr>
                <td>Nausea or vomiting</td>
                <td>Shortness of breath</td>
                <td>Rash</td>
                <td>Eye pain</td>
            </tr>
            <tr>
                <td>Yellow skin/eyes</td>
                <td>Joint/bone pain</td>
                <td>Red Eyes</td>
                <td>Dark, tea-colored urine</td>
            </tr>
        </table>  
    </header>
    <div class="row">
        <form class="survey-form col-md-4 col-md-offset-4" id="form_household_select" name="householdForm">
            <fieldset class="checkbox-group relative large full" ng-if="user">
                <input id="user_you" name="members" checklist-model="members" class="checkbox-primary absolute users" type="checkbox" checklist-value="user.user_id">
                <label for="user_you">You</label>
                <span class="check"><span class="inside"></span></span>
            </fieldset>

            <fieldset class="checkbox-group relative large full" ng-repeat="household in households" ng-if="household.active == 'Y'">
                <input id="user_{{household.user_household_id}}" name="members" class="checkbox-primary absolute users" type="checkbox" checklist-model="members" checklist-value="household.user_household_id">
                <label for="user_{{household.user_household_id}}" class="full">{{ household.nickname }}</label>
                <span class="check"><span class="inside"></span></span>
            </fieldset>
            <div id="household-error" class="alert alert-danger" ng-show="members.length == 0 && error" style="font-size: 14px;margin-top: 20px;margin-bottom: 20px">
                <span id="household-error-message">You must select at least one member</span>
            </div>
            <button id="bt-okay" class="button btn-danger btn-lg btn-block" ng-click="selectMembers()">Report Symptoms</button>
            <p class="or">or</p>
            <button type="button" id="bt-no-symptoms" class="button btn-success btn-lg btn-block nav-link" ng-click="everyoneHealthy()">Everyone is healthy, nothing to report</button>
        </form>
    </div>
</div>