<section class="wrapper-inside bg wrapper-settings">
    <div class="container">
        <div class="row">
        <section class="col-xs-12 col-sm-5 relative">
                <!-- Manage Your Account -->
                <h3 class="title-primary" translate="settings_user"></h3>
                <button id="bt-edit" class="button btn-primary" ng-click="showUserUpdate=true"><span translate="settings_edit"></span></button>
                
                <form class="form-group" name="update-user-form" id="update-user-form" ng-show="showUserUpdate">
                    
                    <fieldset>
                        <label for="email" translate="email"></label>
                        <div class="col-xs-12 col-md-8 no-padding f-right">
                            <input class="form-control" type="text" name="email" ng-model="user.email" required/>
                        </div>
                    </fieldset>

                    <fieldset>
                        <label for="nickname" translate="nickname"></label>
                        <div class="col-xs-12 col-xs-12 col-md-8 no-padding f-right"><input class="col-xs-12 col-md-12 form-control" type="text" name="" ng-model="user.nickname"/></div>
                    </fieldset>

                     <fieldset>
                        <label for="birthdate" translate="birthdate"></label>
                        <div class="col-md-5 no-padding f-right m-left">
                            <input class="survey-birthyear form-control" type="tel" name="birthyear" id="birthyear" required="" ng-model="user.birthyear" aria-required="true">
                        </div>
                        <div class="col-md-2 no-padding f-right">
                            <select class="survey-birthmonth form-control" name="birthmonth" id="month" required="" aria-required="true" ng-model="user.birthmonth">
                                <option value="0">month</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset>
                        <label for="sex">Sex</label>
                        <div class="col-md-3 no-padding f-right marginRadio">
                            <label class="radioLabel marginLabelRadio" translate="female" for="optionsRadios1"></label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" ng-value="'F'" ng-model="user.gender">
                        </div>
                    
                    
                        <div class="col-md-3 no-padding f-right">
                            <label class="radioLabel marginLabelRadio" translate="male"  for="optionsRadios2"></label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-value="'M'" ng-model="user.gender">
                        </div>
                    </fieldset>

                    <fieldset>
                        <label for="nickname" translate="zipcode"></label>
                        <div class="col-xs-12 col-md-8 no-padding f-right"><input class="col-xs-12 col-md-12 form-control"  type="tel" name="zip" ng-model="user.zip"></div>
                    </fieldset>

                    <fieldset>
                        <div class="col-xs-12 col-md-8 no-padding f-right">
                            <button class="button btn-success f-right m-left" data-loading-text="Sending..." loading-button ng-click="userEdit()"><span translate="save"></span></button>
                            <button class="button btn-danger f-right" ng-click="showUserUpdate=false"><span translate="cancel"></span></button>
                        </div>  
                    </fieldset>
                </form>

                <div class="info-box">
                    <table>
                        <tbody>
                            <tr>
                                <td translate="email"></td>
                                <td class="default">{{user.email}}</td>
                            </tr>

                            <tr>
                                <td translate="nickname"></td>
                                <td class="default">{{user.nickname}}</td>
                            </tr>

                            <tr>
                                <td translate="birthdate"></td>
                                <td class="default">{{user.dob}}</td>
                            </tr>

                            <tr>
                                <td translate="gender"></td>
                                <td class="default">{{user.gender}}</td>
                            </tr>

                            <tr>
                                <td translate="zipcode"></td>
                                <td class="default">{{user.zip}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Change password -->
                <button class="button btn-danger btn-change-pass" ng-click="changePass=false"><span translate="change"></span> <span translate="password"></span></button>

                <div class="col-xs-12 nopadding" ng-show="!changePass">
                    <div class="info-box">
                        <form name="form-change-pass" class="register-form form-change-pass" id="form-change-pass">
                            <h4 translate="settings_change_password"></h4>

                           <!--  <fieldset class="form-group">
                                <label for="current-pass" translate="settings_current_password"></label>
                                <input id="current-pass" type="password" class="input-primary" ng-model="old_password" required>
                            </fieldset> -->

                            <fieldset class="form-group">
                                <label for="new-pass"><span translate="new"></span> <span translate="password"></span></label>
                                <input id="new-pass" type="password" class="input-primary" ng-model="password" required>
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="confirm-pass"><span translate="confirm"></span> <span translate="password"></span></label>
                                <input id="confirm-pass" type="password" class="input-primary" ng-model="confirm_password" required>
                            </fieldset>
                            
                            <div class="col-xs-12 wrapper-buttons">
                                <button class="button btn-danger" ng-click="changePass=false"><span translate="cancel"></span></button>
                                <button class="button btn-success"><span translate="save" data-loading-text="Sending..." loading-button ng-click="sendPassword()"></span></button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Manage Subscription -->
                <div class="col-xs-12 nopadding">
                    <h3 class="title-primary" translate="settings_email"></h3>
                    <div class="info-box">
                        <table>
                            <tbody>
                                <tr>
                                    <td translate="email_receive"></td>
                                    <td class="default link"><a ng-href="#/unsubscribe" title="Unsubscribe" translate="unsubscribe"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="col-xs-12 col-sm-6 col-sm-offset-1 relative">
                <h3 class="title-primary" translate="member"></h3>
                <button ng-click="addMember=true" class="button btn-primary new-member"><span translate="new_member"></span></button>
                <div ng-show="addMember" ng-include="'views/partials/add-household.html'"></div>
                <table class="settings-table">
                    <thead>
                        <tr>
                            <td translate="nickname"></td>
                            <td translate="gender"></td>
                            <td translate="birthdate"></td>
                            <td translate="settings"></td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="household in households">
                            <td>{{ household.nickname }}</td>
                            <td>{{ household.gender }}</td>
                            <td>{{ household.dob }}</td>
                            <td>
                                
                                <button type="button" class="button btn-sm btn-info" ng-click="openModalEdit(household)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                
                                <button type="button" class="button btn-sm" ng-class="{'btn-success': household.active == 'N', 'btn-danger': household.active == 'Y'}" ng-click="openModalConfirm(household)">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</section>
