<section class="wrapper-inside bg wrapper-settings">
  <div class="container">
    <div class="row">
      <section class="col-xs-12 col-sm-5">
        <!-- Manage Your Account -->
        <h3 class="title-primary">Manage Your Account</h3>
        <div class="info-box">
          <table>
            <tbody>
              <tr>
                <td>Email address</td>
                <td class="default">email@guinetik.com</td>
              </tr>

              <tr>
                <td>Nickname</td>
                <td class="default">guinetik</td>
              </tr>

              <tr>
                <td>Birthdate</td>
                <td class="default">8/1988</td>
              </tr>

              <tr>
                <td>Gender</td>
                <td class="default">Male</td>
              </tr>

              <tr>
                <td>Zip code</td>
                <td class="default">27892</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Change password -->
        <button class="btn-primary btn-change-pass">Change password</button>
        <div class="col-xs-12 nopadding">
          <div class="info-box">
            <form action="#" name="form-change-pass" class="register-form form-change-pass" id="form-change-pass">
              <h4>Change Password</h4>

              <fieldset class="form-group">
                <label for="current-pass">Current Password</label>
                <input id="current-pass" type="password" class="input-primary">
              </fieldset>

              <fieldset class="form-group">
                <label for="new-pass">New Password</label>
                <input id="new-pass" type="password" class="input-primary">
              </fieldset>

              <fieldset class="form-group">
                <label for="confirm-pass">Confirm Password</label>
                <input id="confirm-pass" type="password" class="input-primary">
              </fieldset>

              <div class="col-xs-12 wrapper-buttons">
                <button class="btn-primary">Cancel</button>
                <button class="btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Manage Subscription -->
        <div class="col-xs-12 nopadding">
          <h3 class="title-primary">Manage Subscription</h3>
          <div class="info-box">
            <table>
              <tbody>
                <tr>
                  <td>E-mail receive</td>
                  <td class="default link"><a ng-href="#/unsubscribe" title="Unsubscribe">Unsubscribe</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section class="col-xs-12 col-sm-6 col-sm-offset-1">
        <h3 class="title-primary">Household Members</h3>

        <table class="settings-table">
          <thead>
            <tr>
              <td>Nickname</td>
              <td>Gender</td>
              <td>Birthdate</td>
              <td>Settings</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Yuri</td>
              <td>M</td>
              <td>2/1988</td>
              <td>
                <i class="fny-icon edit"></i>
                <i class="fny-icon report"></i>
                <i class="fny-icon deactivate"></i>
              </td>
            </tr>

            <tr>
              <td>Teste</td>
              <td>M</td>
              <td>8/1988</td>
              <td>
                <i class="fny-icon edit"></i>
                <i class="fny-icon check"></i>
              </td>
            </tr>

            <tr>
              <td>Chesecake</td>
              <td>M</td>
              <td>4/2005</td>
              <td>
                <i class="fny-icon edit"></i>
                <i class="fny-icon report"></i>
                <i class="fny-icon deactivate"></i>
              </td>
            </tr>

            <tr>
              <td>Guinetik</td>
              <td>M</td>
              <td>4/1988</td>
              <td>
                <i class="fny-icon edit"></i>
                <i class="fny-icon check"></i>
              </td>
            </tr>

            <tr>
              <td>Teste</td>
              <td>M</td>
              <td>1/2277</td>
              <td>
                <i class="fny-icon edit"></i>
                <i class="fny-icon check"></i>
              </td>
            </tr>

            <tr>
              <td>Fwefwef</td>
              <td>F</td>
              <td>4/2200</td>
              <td>
                <i class="fny-icon edit"></i>
                <i class="fny-icon check"></i>
              </td>
            </tr>

            <tr>
              <td>Teste 2</td>
              <td>F</td>
              <td>2/2014</td>
              <td>
                <i class="fny-icon edit"></i>
                <i class="fny-icon check"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Add household member -->
        <div class="col-xs-12 nopadding">
          <div class="info-box">
            <form action="#" name="form-add-household-member" class="register-form form-change-pass form-add-household-member" id="form-add-household-member">
              <h4>Add household member</h4>

              <fieldset class="form-group">
                <label class="nickname" for="add-household-nickname">Nickname</label>
                <input id="add-household-nickname" type="text" class="input-primary full">
              </fieldset>

              <fieldset class="form-group col-sm-6">
                <legend class="legend">Gender:</legend>

                <fieldset class="radio-group col-xs-6">
                  <input type="radio" value="M" id="add-household-male" class="radio-primary" name="add-household-member">
                  <label for="add-household-male">Male</label>
                  <div class="check"><div class="inside"></div></div>
                </fieldset>

                <fieldset class="radio-group col-xs-6">
                  <input type="radio" value="F" id="add-household-female" class="radio-primary" name="add-household-member">
                  <label for="add-household-female">Female</label>
                  <div class="check"><div class="inside"></div></div>
                </fieldset>
              </fieldset>

              <fieldset class="form-group col-sm-6">
                <label class="block">Birthdate</label>

                <select name="birthdate-household-member" id="birthdate-household-member" class="col-xs-12 col-sm-5 birthdate-household-member select-primary">
                  <option value="Month" disabled selected>Month</option>
                  <option value="Month_1">Month_1</option>
                  <option value="Month_2">Month_2</option>
                  <option value="Month_3">Month_3</option>
                </select>

                <input type="tel" class="col-sm-3 input-primary register-year" placeholder="YYYY">
              </fieldset>

              <div class="col-xs-12 wrapper-buttons">
                <button class="btn-primary">Cancel</button>
                <button class="btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
