<section class="wrapper-inside bg wrapper-survey">
    <div class="container">
        <div class="header-survey  row">
            <h2 class="title-primary">Health Report</h2>

            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h3 class="legend">Did {{ user_name || 'you' }} experience any additional symptoms since 05/06/2016?</h3>

                <div class="previously-symptoms" ng-if="false">
                    <time datetime="2015-08-13 16:20" class="col-sm-4">08/13/2015</time>
                    <p class="col-sm-7">Fatigue, Nause or vomiting, diarrhea</p>
                </div>

                <form class="survey-form second" name="survey-form" id="survey-form">
                    <legend class="legend" ng-if="false">What symptoms are you currently experiencing?</legend>

                    <fieldset class="checkbox-group any-symptoms-below relative">
                        <input type="checkbox" value="nosymptoms" id="any-symptoms-below" class="checkbox-primary absolute" name="survey-symptom" ng-click="toggleDisabledSymptoms()" disabled-survey>
                        <label for="any-symptoms-below">{{ user_name || 'You' }} did not have any of the symptoms listed below</label>
                        <div class="check"><div class="inside"></div></div>
                    </fieldset>

                    <p id="survey_symptoms_or" class="or">or</p>

                    <div id="conditional" ng-class="{'disabled' : disabledSymptoms}" show-traveling>
                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6" >
                            <input type="checkbox" checklist-value="'fever'" id="survey-symptom-fever" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-fever">Fever {{custom}}</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'cough'" id="survey-symptom-cough" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-cough">Cough</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'headache'" id="survey-symptom-headache" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-headache">Headache</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'sore-throat'" id="survey-symptom-sore-throat" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-sore-throat">Sore throat</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'diarrhea'" id="survey-symptom-diarrhea" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-diarrhea">Diarrhea</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'body-aches'" id="survey-symptom-body-aches" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-body-aches">Body aches</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'fatigue'" id="survey-symptom-fatigue" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-fatigue">Fatigue</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'chills'" id="survey-symptom-chills" checklist-model="symptoms" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-chills">Chills/night sweats</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'nausea-or-vomiting'" checklist-model="symptoms" id="survey-symptom-nausea-or-vomiting" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-nausea-or-vomiting">Nausea or vomiting</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'shortness-of-breath'" checklist-model="symptoms" id="survey-symptom-shortness-of-breath" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-shortness-of-breath">Shortness of breath</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'rash'" checklist-model="symptoms" id="survey-symptom-rash" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-rash">Rash</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'eye_pain'" checklist-model="symptoms" id="survey-symptom-eye-pain" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-eye-pain">Eye pain</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'yellow_eyes'" checklist-model="symptoms" id="survey-symptom-yellow-skin-eyes" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-yellow-skin-eyes">Yellow skin/eyes</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'joint_pain'" checklist-model="symptoms" id="survey-symptom-joint-bone-pain" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-joint-bone-pain">Joint/bone pain</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'red_eyes'" checklist-model="symptoms" id="survey-symptom-red-eyes" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-red-eyes">Red Eyes</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <fieldset class="checkbox-group col-xs-12 col-sm-6 col-md-6">
                            <input type="checkbox" checklist-value="'dark_urine'" checklist-model="symptoms" id="survey-symptom-dark-urine" class="checkbox-primary" name="survey-symptom">
                            <label for="survey-symptom-dark-urine">Dark, tea-colored urine</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <!-- thermometer -->
                        <aside class="col-xs-12 wrapper-temperature" ng-show="symptoms.indexOf('fever')!=-1">
                            <div ng-include src="'views/partials/temperature.html'"></div>
                        </aside>

                        <fieldset class="checkbox-group fieldset-traveling none">
                            <input type="checkbox" value="rash" id="traveling" class="checkbox-primary" name="survey-symptom" ng-click="toggleTreveling()">
                            <label for="traveling">I was traveling while experiencing these symptoms</label>
                            <div class="check"><div class="inside"></div></div>
                        </fieldset>

                        <aside class="datepicker travel-where" ng-show="treveling">
                            <h3 id="survey_travel_where">Where did You travel?</h3>
                            <input type="text" name="travel_where" placeholder="Type a city or a zip code">
                        </aside>
                    </div>

                    <div class="form-buttons col-xs-12">
                        <button class="button btn-info" ng-click="goBack()">Go Back</button>
                        <button class="button btn-danger" ng-click="sendReport()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
